.right--box{
    h2{
        font-size: 18px;
        margin: 0;
    }
    .show--all{
        font-size: 12px;
        color: #169feb;
        .icon--next {
            background-image: url('../../../../../assets/images/drop-arrow.png  ');
            width: 12px;
            height: 8px;
            background-repeat: no-repeat;
            transform: rotate(268deg);
            margin: 0 0 0 5px;
        }
    }
    .progress--count{
        .progress{
            width: 60%;
            border-radius: 7px;
            background-color: rgba(22, 159, 235, 0.05);
            .progress-bar{
                border-radius: 7px;
                background-image: linear-gradient(to left, #31cdf7, #169feb);
            }
        }
        .count{
            width: 40%;
            padding-left: 20px;
        }
        h3{
            font-size: 22px;
            color: rgba(0, 0, 0, 0.85);
            margin: 0;
        }
        p{
            font-size: 12px;
            color: rgba(0, 0, 0, 0.85);
        }
    }

    .icon--building--active{
        background-image: url('../../../../../assets/images/building.png');
        width: 18px;
        height: 18px;
        display: inline-block;
    }
    .location--btn{
        padding: 4px 40px !important;
        border-radius: 30px !important;
    }
    .map--box{
        height: 400px;
    }
    .address--box{
        padding: 0 20px;
        position: relative;
        .address--header{
            width: 140px;
            height: 35px;
            border-radius: 20px;
            box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.05);
            background-color: #ffffff;
            font-size: 10px;
            color: rgba(0, 0, 0, 0.15);
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: 'Avenir-medium';
            position: absolute;
            top: -34px;
            left: 36%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .address--npic{
            padding-top: 20px;
            h4{
                font-size: 15px;
                color: rgba(0, 0, 0, 0.85);
            }
            p{
                font-size: 13px;
                color: rgba(0, 0, 0, 0.85);
            }
        }
        .add--building{
            width: 40px;
            height: 40px;
            object-fit: contain;
            border-radius: 3px;
        }
        .time--date{
            font-size: 13px;
            color: rgba(0, 0, 0, 0.85);
        }
        .contact{
            font-size: 13px;
            color: rgba(0, 0, 0, 0.85);
            letter-spacing: 1px;
            margin: 5px 0;
        }
        .popular--visit{
            margin-bottom: 20px;
            h5{
                color: rgba(0, 0, 0, 0.5);
                font-size: 13px;
                margin-bottom: 12px;
                text-align: left;
            }
        }
    }
}
.reviewer--star{
    margin-bottom: 10px;
    ul{
        list-style-type: none;
        display: flex;
        li{
            line-height: 15px;
            .fa{
                &.active{
                    color: #f6ca51;
                }
                color: #d8d8d8;
                margin-left: 3px;
                font-size: 11px;
            }

        }
    }
}