.right--box{
    h2{
        font-size: 18px;
        margin: 0;
    }
    .show--all{
        font-size: 12px;
        color: #169feb;
        .icon--next {
            background-image: url('../../../../../assets/images/drop-arrow.png  ');
            width: 12px;
            height: 8px;
            background-repeat: no-repeat;
            transform: rotate(268deg);
            margin: 0 0 0 5px;
        }
    }
   

    .job--desc{
        font-size: 13px;
        line-height: 1.69;
    }

    .icon-office{
        display: inline-block;
        font-size: 18px;
        color: #169feb;
    }
    .location--btn{
        padding: 4px 40px !important;
        border-radius: 30px !important;
    }
    .map--box{
        height: 400px;
    }
    .address--box{       
        position: relative;
        .address--body{
            padding: 0 20px;
            max-height: 252px;
            overflow: auto;
            .address--divider{
                border-bottom: solid 1px #ebedf8;
                &:last-child{
                    border: none;
                }
                .reviewer--star{
                    margin: 7px 0;
                    line-height: 0;
                }
            }
        }
        
        .address--header{
            width: 140px;
            height: 35px;
            border-radius: 20px;
            box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.05);
            background-color: #ffffff;
            font-size: 10px;
            color: rgba(0, 0, 0, 0.15);
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: 'Avenir-medium';
            position: absolute;
            top: -34px;
            left: 36%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .address--npic{
            padding-top: 20px;
            h4{
                font-size: 15px;
                color: rgba(0, 0, 0, 0.85);
            }
            p{
                font-size: 13px;
                color: rgba(0, 0, 0, 0.85);
                padding-right: 10px;
            }
        }
        .add--building{
            width: 40px;
            height: 40px;
            object-fit: contain;
            border-radius: 3px;
            flex-shrink: 0;
        }
        .time--date{
            font-size: 13px;
            color: rgba(0, 0, 0, 0.85);
        }
        .contact{
            font-size: 13px;
            color: rgba(0, 0, 0, 0.85);
            letter-spacing: 1px;
            margin: 5px 0;
        }
        .popular--visit{
            margin-bottom: 20px;
            h5{
                color: rgba(0, 0, 0, 0.5);
                font-size: 13px;
                margin-bottom: 12px;
                text-align: left;
            }
        }
    }
}


@media only screen and (min-width: 980px) and (max-width: 1279px){
    .right--box h2 {
        font-size: 15px;
    }
    .right--box .show--all {
        font-size: 11px;
        white-space: nowrap;
    }
    .right--box .location--btn {
        padding: 3px 17px !important;
    }
    .right--box .map--box {
        height: 250px;
    }
    .right--box .address--box .address--header{
        left: 28%;
    }
    
}