<ul class="m-0 p-0 left--menu--items d-flex ">
    <li>
        <a>
            <i class="icon icon-dashboard"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon icon-office"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon icon-job"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon icon-task"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon icon-patients"></i>
        </a>
    </li>
     <li>
        <a>
            <i class="icon icon-my-network"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon icon-notification"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon icon-staff"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon icon-calender"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon icon-settings"></i>
        </a>
    </li>
</ul>