<ul class="m-0 p-0 left--menu--items d-flex ">
    <li>
        <a>
            <i class="icon task-compact-deactive"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon building-deactive"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon business-sutcase-deactive"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon note-pad-deactive"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon profile-pic-icon-deactive"></i>
        </a>
    </li>
     <li>
        <a>
            <i class="icon network-deactive"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon bell-deactive"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon profile-deactive"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon calender-deactive"></i>
        </a>
    </li>
    <li>
        <a>
            <i class="icon settings-deactive"></i>
        </a>
    </li>
</ul>