<div class="office--right--wrapper">
    <div class="card rf--card">

        <div class="card-header d-flex align-items-center justify-content-between">
            <h2 class="m-0"> <strong>Good Dental’s Job Success</strong> </h2>
            <a class="show--all d-flex align-items-center">
                How it works?
                <i class="icon--next"></i>
            </a>
        </div>

        <div class="card-body">
            <div class="progress--count d-flex align-items-center">
                <div class="progress">
                    <div class="progress-bar" style="width:80%"></div>
                </div>
                <div class="count text-center">
                    <h3><strong>80%</strong></h3>
                    <p class="m-0">Based on Reviews</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card rf--card Offices latest--review--sec">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h2 class="d-flex align-items-center m-0"> <i class="icon icon-office mr-2"></i>
                <strong>Latest Review</strong> </h2>
            <a class="show--all d-flex align-items-center">
                Show all reviews
                <i class="icon--next"></i>
            </a>
        </div>
        <div class="card-body">
            <div class="review--body--header d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="photo--wrapper flex-shrink-0">
                        <img src="../../../../../assets/images/image-circle.png" alt="" class="img-fluid">
                    </div>
                    <h3 class="fnt-13 m-0"><strong>Anna Falidova</strong></h3>
                </div>
                <div class="rating--star mb-0">
                    <ul class="p-0 m-0">
                        <li><i class="fa fa-star active" aria-hidden="true"></i>
                        </li>
                        <li><i class="fa fa-star active" aria-hidden="true"></i>
                        </li>
                        <li><i class="fa fa-star active" aria-hidden="true"></i>
                        </li>
                        <li><i class="fa fa-star active" aria-hidden="true"></i>
                        </li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>
            <div class="reviews">
                <p class="fnt-13 m-0">
                    I'm glad I found this office. The best specialists and excellent communication skills. The patient was pleased with the quality of service.
                </p>
            </div>
            <div class="date--time">
                02 / 13 / 2020 - 02:30 PM
            </div>
        </div>
    </div>



    <div class="card rf--card Offices latest--review--sec">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h2 class="d-flex align-items-center m-0"> <i class="icon icon-office mr-2"></i>
                <strong>Photos</strong> </h2>
                <button  type="button" class="btn btn-md btn-outline-primary ">Upload Photo</button>
        </div>
        <div class="card-body main--photo">
            <div class="photo--wrap relative" style="background-image: url('/assets/images/01.png');">
                <div class="change--photo--footer d-flex align-items-center justify-content-between">
                    <p class="m-0 fnt-11">Office Main Photo</p>
                    <button type="button" class="btn btn-md btn-outline-primary change--photo--btn">Change Main Photo</button>
                </div>
            </div>
        </div>
        <div class="card-body pt-0 pr-0 photo--list d-flex align-items-center flex-wrap">
            <div class="photo--box" style="background-image: url('/assets/images/image-1.png');"> 
                <i class="icon--close"></i>
            </div>
            <div class="photo--box" style="background-image: url('/assets/images/image-2.png');">
                <i class="icon--close"></i>
            </div>
            <div class="photo--box" style="background-image: url('/assets/images/image-1-rounded.png');"> 
                <i class="icon--close"></i>
            </div>
            <div class="photo--box" style="background-image: url('/assets/images/image-2-rounded.png');"> 
                <i class="icon--close"></i>
            </div>
            
            
        </div>
    </div>

</div>