.dashboard--footer{
    padding-top:15px;
    padding-bottom: 10px;
    .btn-primary {
        &.primary--two{
            padding: 9px 20px !important;
        }
    }
    p{
        font-size: 13px;
        a{
            color: #169feb ;
            margin-left: 10px;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    ul{
        list-style-type: none;
        li{
            a{
                font-size: 13px;
                color: rgba(0, 0, 0, 0.85) !important;
                margin-right: 50px;                
            }
            &:last-child{
                a{
                    margin-right: 0;
                }
            }
        }
    }
}
.icon-person{
    font-size: 14px;
    display: inline-block;
    color: #fff;
}

@media only screen and (min-width: 600px) and (max-width: 979px){
    .dashboard--footer{
        ul{
            li{
                a{
                    margin-right: 15px;        
                }
            }
        }
    }
    .dashboard--footer .btn-primary.primary--two {
        padding: 7px 9px !important;
    }
}

@media only screen and (max-width: 599px) {}
@media only screen and (min-width: 980px) and (max-width: 1279px){}
@media only screen and (min-width: 1280px) and (max-width: 1440px){}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}