<div class="container-fluid pt-3 patient--details--wrapper">
    <div class="row">
        <div class="col-12 col-lg-8 header--left">
            <div class="card rf--card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <div class=" d-flex align-items-center justify-content-between flex-shrink-0">
                        <div class=" d-flex align-items-center flex-shrink-0">
                            <a class="back--to d-flex align-items-center" [routerLink]="['/dashboard/patient-list']">
                                <i class="icon--prev"></i>
                                Back to Staff
                            </a>
                            <button type="button" class="btn btn-md btn-outline-primary patient--tag">Patient</button>
                            <h1 class="p-0 m-0"> <strong> Donda Little </strong></h1>
                            <a class="fnt-13 invite--link">Invite patient to profile</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-shrink-0 actions">
                        <button  type="button" class="btn btn-md btn-outline-primary">
                            <i class="icon icon-chat-icon"></i>
                        </button>
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 header--right d-flex align-items-center">
            <button type="button" class="btn black--btn w-100 mb-3">
                Start a new referral    
            </button>
            <button type="button" class="btn btn-primary white--btn w-100">
                Add to record
            </button>
        </div>
    </div>
</div>