.auth--header{
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    .v--divider{
        width: 1px;
        height: 39px;
        background-color: #e6eaee;
        margin: 0 20px;
    }
}