
<app-header> </app-header>



<section class="section--one bg--img" style="background-image: url('../assets/images/banner-img.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-7 col-xl-7 sm--box--shadow">
        <h2>ReferHub helps you to organize
          your dental business</h2>
        <p>ReferHub is a web site dedicated to integrating the general dental practitioner with specialists in order to
          streamline their communication and bring a better and more timely care to their mutual patients.</p>
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-lg btn-primary mr-3">Get Started</button>
            <button type="button" class="btn btn-lg btn-outline-primary">Take a tour</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--two">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>About ReferHub</h2>
        <p>ReferHub is a platform designed by dentists for dentists. Based in MarVista CA, Our focus is to bring digital
          solutions to the dental industry in areas of communication between dental offices, laboratories, pharmacies,
          and to the general population.</p>

        <div class="row">
          <div class="col-12">
            <div class="about--boxes">
              <div class="card border-0">
                <div class="card-header p-0">
                  <i class="icon--digitizer first"></i>
                  <i class="icon--digitizer--white second"></i>
                </div>
                <div class="card-body p-0">
                  <h3>Digitize Referrals</h3>
                  <p class="m-0">Clear out old referral forms from your file cabinet.</p>
                </div>
              </div>

              <div class="card border-0">
                <div class="card-header p-0">
                  <i class="icon--tracking first"></i>
                  <i class="icon--tracking--white second"></i>
                </div>
                <div class="card-body p-0">
                  <h3>Tracking</h3>
                  <p class="m-0">Keep track of all incoming and outgoing referrals, including the name and location of
                    dentists, specialists.</p>
                </div>
              </div>

              <div class="card border-0">
                <div class="card-header p-0">
                  <i class="icon--compliance first"></i>
                  <i class="icon--compliance--white second"></i>
                </div>
                <div class="card-body p-0">
                  <h3>HIPAA compliance</h3>
                  <p class="m-0">Keep all information backed up on a double server secured cloud back up</p>
                </div>
              </div>

              <div class="card border-0">
                <div class="card-header p-0">
                  <i class="icon--closethe first"></i>
                  <i class="icon--closethe--white second"></i>
                </div>
                <div class="card-body p-0">
                  <h3>Close the Loops</h3>
                  <p class="m-0">Ensure that all patients referred are connected to the specialist via text, phone, or
                    email so that no treatment plan goes incomplete and no patient falls through the cracks.</p>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 col-xl-6">
            <h2>What is ReferHub?</h2>
            <p>Put simply, ReferHub connects the Specialist with the Dentist
              to collaborate on the patient’s treatment plan, by creating
              a HIPAA compliant communication channel to transfer
              information such as Referral forms, Radiographs, final
              treatment reports, and a convenient chat feature to discuss
              any and all treatment options.</p>
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-lg btn-primary mr-3">Get Started</button>
                <button type="button" class="btn btn-lg btn-outline-primary">Learn more</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-6 wir--img ">
            <img src="../assets/images/whatis-refer-hub-img.png" alt="what is refer hub" class="img-fluid">
            <img src="../assets/images/play-btn.png" alt="Play" class="img-fluid play--btn">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section--three bg--img" style="background-image: url('../assets/images/how-it-works-bg.png')">
  <div class="container">
    <div class="row">
      <div class="col-12 header">
        <h2>How it works?</h2>
        <ul class="nav nav-tabs ">
          <li><a data-toggle="tab" href="#home" class="active">Generalist</a></li>
          <li><a data-toggle="tab" href="#menu1">Specialist</a></li>
        </ul>
      </div>
      <div class="col-12">
        <div class="tab-content">
          <div id="home" class="tab-pane active">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</p>

            <div class="stepper--wrapper">
              <div class="steps">
                <div class="step--number">01</div>
                <div class="step--details">Create a username and password.</div>
              </div>
              <div class="steps">
                <div class="step--number">02</div>
                <div class="step--details">Enter your practice information (just basic data like name number and
                  address).</div>
              </div>
              <div class="steps">
                <div class="step--number">03</div>
                <div class="step--details">Tell us who you’ve worked with in the past (Or find new specialists you’d
                  like to work with).</div>
              </div>
              <div class="steps">
                <div class="step--number">04</div>
                <div class="step--details">Send a referral by completing a referral form outlining what procedure(s)
                  you’d like completed on your patient.</div>
              </div>
              <div class="steps">
                <div class="step--number">
                  <img src="../assets/images/process-tick.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>

          </div>
          <div id="menu1" class="tab-pane fade">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section--four">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 col-xl-6">
        <h2>ReferHub Premium</h2>
        <ul class="p-0 m-0">
          <li><img src="../assets/images/tick-with-circle.png" alt="" class="img-fluid"> Automatic booking</li>
          <li><img src="../assets/images/tick-with-circle.png" alt="" class="img-fluid"> Chat feature</li>
          <li><img src="../assets/images/tick-with-circle.png" alt="" class="img-fluid"> Ranking first on search</li>
          <li><img src="../assets/images/tick-with-circle.png" alt="" class="img-fluid"> Verified account</li>
          <li><img src="../assets/images/tick-with-circle.png" alt="" class="img-fluid"> SEO / AdWords</li>
          <li><img src="../assets/images/tick-with-circle.png" alt="" class="img-fluid"> Virtual Consults</li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 col-xl-6 wir--img text-right">
        <img src="../assets/images/referhub-premium-graphic.png" alt="what is refer hub" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="section--five bg--img" style="background-image: url('../assets/images/imgpsh_fullsize_anim.png')">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-6 col-xl-5 sm--box--shadow">
        <h2>Keep all processes
          under control</h2>
        <p>The ReferHub platform integrates with your dental practice
          management system to give you all the data you
          need to analyze in one place.</p>
        <div class="row">
          <div class="col-12 sm--white">
            <button type="button" class="btn btn-lg btn-primary mr-3">Get Started</button>
            <button type="button" class="btn btn-lg btn-outline-primary">Learn more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--six bg--img" style="background-image: url('../assets/images/hundreds-of-dentists-img.png')">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
        <h1>Hundreds of dentists and specialists
          already use ReferHub</h1>
        <p>Try it now and make your work and communication much easier.</p>
        <button type="button" class="btn btn-lg btn-primary get--started--btn">Get Started</button>
      </div>
    </div>
  </div>
</section>

<section class="section--seven">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Customer Reviews</h1>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="reviews">
                <header class="col-12">
                  <div class="reviewer--pic">
                    <img src="../assets/images/profile-pic-1.png" alt="Reviewer pic" class="img-fluid">
                  </div>
                  <div class="reviewer--details">
                    <h3>Niek Bove</h3>
                    <p>General Dentist, Dallas</p>
                  </div>
                  <div class="reviewer--star">
                    <ul class="p-0 m-0">
                      <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                  </div>
                </header>
                <div class="col-12 review--data">
                  <p>Probabo, inquit, sic agam, ut ad id est et quasi involuta aperiri, altera prompta et expedita
                    distinctio nam libero tempore, cum memoriter, tum etiam ac ratione et voluptatem ipsam per se
                    oratio, tua praesertim.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="reviews">
                <header class="col-12">
                  <div class="reviewer--pic">
                    <img src="../assets/images/profile-pic-1.png" alt="Reviewer pic" class="img-fluid">
                  </div>
                  <div class="reviewer--details">
                    <h3>Niek Bove</h3>
                    <p>General Dentist, Dallas</p>
                  </div>
                  <div class="reviewer--star">
                    <ul class="p-0 m-0">
                      <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                  </div>
                </header>
                <div class="col-12 review--data">
                  <p>Probabo, inquit, sic agam, ut ad id est et quasi involuta aperiri, altera prompta et expedita
                    distinctio nam libero tempore, cum memoriter, tum etiam ac ratione et voluptatem ipsam per se
                    oratio, tua praesertim.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="reviews">
                <header class="col-12">
                  <div class="reviewer--pic">
                    <img src="../assets/images/profile-pic-1.png" alt="Reviewer pic" class="img-fluid">
                  </div>
                  <div class="reviewer--details">
                    <h3>Niek Bove</h3>
                    <p>General Dentist, Dallas</p>
                  </div>
                  <div class="reviewer--star">
                    <ul class="m-0 p-0">
                      <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                  </div>
                </header>
                <div class="col-12 review--data">
                  <p>Probabo, inquit, sic agam, ut ad id est et quasi involuta aperiri, altera prompta et expedita
                    distinctio nam libero tempore, cum memoriter, tum etiam ac ratione et voluptatem ipsam per se
                    oratio, tua praesertim.</p>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="icon-prev"></i>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="icon-next"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="back--to--top">
  <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>
<app-footer> </app-footer>
