
<section class="who--you--wrapper auth--wrapper d-flex justify-content-center">
    <div class="login--box d-flex">
        <div class="left--sec">
            <div class="row">
                <div class="col-12">
                    <header class="d-flex mb-0">
                       <div>
                        <h1>Are you a Dentist or Specialist?</h1>
                        <p>Sign up to ReferHub</p>
                       </div>
                        <div class="stepper--indicator">
                            <ul class="m-0 p-0">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li class="mr-0"></li>
                            </ul>
                        </div>
                    </header>
                </div>
                <div class="col-12">
                    <div class="btn-group d-flex" role="group" aria-label="Basic example">
                        <button [routerLink]="['/auth/signup']"  type="button" class="btn dentist--btn">Dentist</button>
                        <button [routerLink]="['/auth/signup']"  type="button" class="btn specialist--btn">Specialist</button>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="right--sec text-center">
            <h2>ReferHub helps you to organize
                your dental business</h2>
                <p>Put simply, <span>ReferHub</span> connects the Specialist with
                    the Dentist to collaborate on the patient’s treatment plan,
                    by creating a <span>HIPAA compliant</span> communication channel.</p>
        </div>
    </div>
</section>
