<div class="container-fluid staff--setting--wrapper">
    <div class="row ">

        <div class="col-12 col-lg-8">
            <div class="card rf--card">
                <div class="card-header d-flex align-items-center ">
                    <div class="left-head d-flex align-items-center">
                        <a class="back--to d-flex align-items-center">
                            <i class="icon--prev"></i>
                            Back to Staff
                        </a>
                        <h1> Profile Settings for <strong> Ferland </strong></h1>
                    </div>
                    <div class="right-head d-flex align-items-center flex-shrink-0">

                        <button class="btn p-0 rounded--btn ml-3"><i class="icon icon-task"></i></button>
                        <button class="btn p-0 rounded--btn ml-2"><i class="icon icon-chat-blue"></i></button>
                        <button class="btn p-0 rounded--btn ml-2 active"><i class="icon icon-settings"></i></button>
                        <i class="icon icon-three-dots ml-3"></i>
                    </div>
                </div>
                <div class="card-body profile--body">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-between ">
                            <h2 class="mb-3"><strong>Contacts</strong></h2>
                            <p class="m-0 fnt12"> <strong>Last visit</strong> 04.20.2020 – 5:30 PM</p>
                        </div>
                    </div>
                    <form class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>First Name *</label>
                                <input type="text" class="form-control" placeholder="First Name *" value="Megan">
                            </div>
                            <div class="form-group">
                                <label>Last Name *</label>
                                <input type="text" class="form-control" placeholder="Last Name *" value="Rigden">
                            </div>
                            <div class="form-group">
                                <label>Birthday</label>
                                <input type="text" class="form-control" placeholder="" value="">
                            </div>
                            <div class="form-group">
                                <label>Phone Number *</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Mobile</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Phone</a>
                                            <a class="dropdown-item">Other</a>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="310-123-4567"
                                        aria-label="Text input with dropdown button">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Additional Phone Number</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Home</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Phone</a>
                                            <a class="dropdown-item">Other</a>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="310-123-4567"
                                        aria-label="Text input with dropdown button">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div
                                class="form-group upload--another--photo d-flex align-items-center justify-content-center">
                                <div class="link d-flex align-items-center ">
                                    <i class="icon-camera-small mr-2"></i>
                                    <a>Upload another photo</a>
                                </div>
                                <div
                                    class="user--pic d-flex justify-content-center align-items-center relative flex-shrink-0">
                                    <img src="/assets/images/profile-square.png" title="" class="img-fluid">

                                    <div class="remove--img--tag">
                                        <p class="m-0">Remove</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Contract Start</label>
                                <input type="text" class="form-control" placeholder="Last Name *" value="04.19.2018">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Email *"
                                    value="valencia.marta@something.com">
                            </div>
                        </div>

                        <div class="col-3 col-lg-4">
                            <div class="form-group">
                                <label>City *</label>
                                <div class="input-group">
                                    <div class="input-group-prepend w-100">
                                        <button class="btn btn-outline-secondary dropdown-toggle text-left w-100"
                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">New York</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">India</a>
                                            <a class="dropdown-item">London</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-lg-6">
                            <div class="form-group">
                                <label>State *</label>
                                <div class="input-group">
                                    <div class="input-group-prepend w-100">
                                        <button class="btn btn-outline-secondary dropdown-toggle text-left w-100"
                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">New York</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">India</a>
                                            <a class="dropdown-item">London</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 col-lg-2">
                            <div class="form-group">
                                <label>ZIP *</label>
                                <input type="text" class="form-control pr-1" placeholder="ZIP" value="10001">
                            </div>
                        </div>
                        <div class="col-12">
                            <h2 class="mb-3 mt-3"><strong>Address</strong></h2>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>Address Line 1 *</label>
                                <input type="text" class="form-control" placeholder="Address Line 1"
                                    value="509 Madison Ave #1704">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>Address Line 2</label>
                                <input type="text" class="form-control" placeholder="Address Line 2" value="">
                            </div>
                        </div>
                        <div class="col-12">
                            <h2 class="mb-3 mt-3"><strong>Password</strong></h2>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password" value="1111111111">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>Repeat password</label>
                                <input type="password" class="form-control" placeholder="Repeat password" value="">
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-between align-items-center action--footer ">
                            <button type="button" class="btn btn-outline-primary save-btn"> Save </button>
                            <a class="fnt-12">Remove account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="card rf--card ">
                <div class="card-header d-flex align-items-center ">
                    <div class="left-head d-flex align-items-center">
                        <h2 class="m-0"> <strong> Permissions </strong></h2>
                    </div>
                    <div class="right-head d-flex align-items-center flex-shrink-0">
                        <div class="per--tag"> <strong> A-A-A-A </strong></div>
                    </div>
                </div>
                <div class="card-body profile--body">
                    <h2> <strong> Tasks Permissions </strong></h2>
                    <form class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Create new tasks</label>
                                <div class="input-group">
                                    <div class="input-group-prepend w-100">
                                        <button class="btn btn-outline-secondary dropdown-toggle text-left w-100"
                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Allowed</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Not allowed</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Delete tasks</label>
                                <div class="input-group">
                                    <div class="input-group-prepend w-100">
                                        <button class="btn btn-outline-secondary dropdown-toggle text-left w-100"
                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Prohibited</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Not prohibited</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Edit tasks</label>
                                <div class="input-group">
                                    <div class="input-group-prepend w-100">
                                        <button class="btn btn-outline-secondary dropdown-toggle text-left w-100"
                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Prohibited</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Not prohibited</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <h2 class="mb-2 mt-4"> <strong>Patients</strong> </h2>
                             <div class="form-group">
                                <label>Add new patient</label>
                                <div class="input-group">
                                    <div class="input-group-prepend w-100">
                                        <button class="btn btn-outline-secondary dropdown-toggle text-left w-100"
                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Allowed</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Not allowed</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Delete patient</label>
                                <div class="input-group">
                                    <div class="input-group-prepend w-100">
                                        <button class="btn btn-outline-secondary dropdown-toggle text-left w-100"
                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Prohibited</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Not prohibited</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Edit patient</label>
                                <div class="input-group">
                                    <div class="input-group-prepend w-100">
                                        <button class="btn btn-outline-secondary dropdown-toggle text-left w-100"
                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Prohibited</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Not prohibited</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="col-12 d-flex justify-content-between align-items-center action--footer ">
                            <button type="button" class="btn btn-outline-primary save-btn"> Save </button>
                            <a class="fnt-12">Set default permissions</a>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>

    </div>
</div>