.staff--setting--wrapper{
    padding-top: 20px;
    background-color: #f8fafb;
    .card-header{
        justify-content: space-between;
        .left-head{
            h1{
                margin-left: 20px;
            }
        }
        .per--tag{
            padding: 4px 24px;
            border-radius: 14.5px;
            background-color: #169feb;
            font-size: 14px;
            color: #fff;
        }                
    }
    .profile--body{
        h2{
            font-size: 15px;
        }
        .upload--another--photo{
            width: 100%;
            height: 135px;
            border-radius: 3px;
            border: solid 1px #e6eaee;
            background-color: #ffffff;
            margin-top: 30px;
            padding: 18px 40px;
            .link{
                .icon{
                    font-size: 15px;
                }
                a{
                    font-size: 12px;
                    color: #2c3341;
                    text-decoration: underline;
                }
            }
            .user--pic{
                width: 99px;
                height: 99px;
                background-color: #d1edfb;
                border-radius: 50%;
                overflow: hidden;
                margin-left: 30px;
                &:hover{
                    .remove--img--tag{
                        display: block;
                    }
                }
                .remove--img--tag{
                    -webkit-backdrop-filter: blur(17px);
                    backdrop-filter: blur(17px);
                    background-color: rgba(255, 255, 255, 0.8);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    padding: 5px 0;
                    cursor: pointer;
                    display: none;
                    p{
                        opacity: 0.5;
                        font-size: 10px;
                        color: #2c3341;
                    }
                }
            }
        }
        .action--footer{
            margin-top: 30px;
            .save-btn{
                width: 180px !important;
                height: 40px !important;
                padding: 0 !important;
            }
            a{
                text-decoration: underline;
                color: #2c3341;
            }
        }
    }
}


@media only screen and (max-width: 599px) {}
@media only screen and (min-width: 600px) and (max-width: 979px){}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    .staff--setting--wrapper .profile--body .upload--another--photo {
        flex-direction: column;
    }
    .staff--setting--wrapper .profile--body .upload--another--photo .user--pic{
        order: -1;
        margin: 0 0 2px 0;
    }
    .staff--setting--wrapper .profile--body .action--footer .save-btn {
        width: 100px !important;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}
