.search--wrapper{

    // Search header
    .search--header{
        padding:17px 20px;
        box-shadow: 0 1px 0 0 #eef0f9;
        .icon-filter-icon {
            color: #fff;
        }
        .actions{         
            .btn-sm{
                box-shadow: none;
                width: 100px;
                margin-right: 30px;
            }
            .selected--tags{
                border-radius: 3px;
                background-color: #fbfbfb;
                padding: 4px 10px;
                margin: 0 5px 0 0;
                p{
                    font-size: 12px;
                }
                .icon-close{
                    font-size: 8px;
                    margin-left: 12px;
                    display: inline-block;
                    z-index: 999;
                    cursor: pointer;
                    color: #000;
                }
            }
            
        }
        .show--label{
            font-size: 12px;
            margin: 0 10px 0 0 ;
        }
       
    }

    // Dropdown
    .dropdown--open{
        padding: 30px;
        // -webkit-backdrop-filter: blur(50px);
        // backdrop-filter: blur(50px);
        box-shadow: 0 5px 20px 0 #e8e8e8;
        background-color: rgba(255, 255, 255, 0.9);
        background-image: linear-gradient(-180deg, #fff 0%, #d4e8f352 100%);
        position: absolute;
        top: 69px;
        left: 0px;
        z-index: 999999;
        width: 100%;
        height: auto;

        &.close{
            display: none;
        }
        &.open{
            display: block;
        }

        h1{
            font-size: 14px;
            margin-bottom: 13px;
            span{
                font-size: 12px;
                color: rgba(0, 0, 0, 0.5);
            }
        }
        .checkbox .cr, .radio .cr{
            width: 16px;
            height: 16px;
        }
        .checkbox .cr .cr-icon, .radio .cr .cr-icon{
            font-size: 9px;
        }
        .radio label,
        .checkbox label{
            font-size: 12px;
            margin-bottom: 6px;
        }
        form .input-group-prepend.sm--dropdown .dropdown-toggle{
            height: 20px;
            padding: 0px 25px 0 8px !important;
            background: #fff!important;
            font-family: "Avenir-medium" !important;
        }
        form .input-group-prepend.sm--dropdown .dropdown-toggle::after{
            top: 7px;
        }



        ::ng-deep{
            .ng5-slider{
                margin: 8px 0 60px;
            }
            .ng5-slider .ng5-slider-bar{
                border-radius: 7px;
                background-color: rgba(22, 159, 235, 0.1);
            }
            .ng5-slider.animate .ng5-slider-selection{
                background-color: #007bff !important;
            }
            .ng5-slider .ng5-slider-pointer {
                cursor: pointer;
                width: 13px;
                height: 13px;
                top: -5px;
                color: #007bff !important;
                &::after{
                    content: none;
                }
                &:focus{
                    outline: none;
                }
            }
            .ng5-slider .ng5-slider-bubble b,
            .ng5-slider .ng5-slider-bubble{
                font-size: 12px !important;
                color: rgba(0, 0, 0, 0.85) !important;
                font-family: 'Avenir-medium' !important;
                font-weight: 400;
                bottom: -35px;
            }
            
        }

        .location--search{
            h1{
                margin-bottom: 8px;
            }
            .form-control{
                height: 40px;
                padding-left: 35px;
                padding-right: 10px;
            }
            .icon icon-search{
                font-size: 14px;
                position: absolute;
                left: 12px;
                top: 13px;
                z-index: 999;
            }
        }

        .dd--footer{
            border-top: 1px solid #e6eaee;
            padding-top: 30px;
            margin-top: 25px;
            .close--filter--btn{
                width: 100px;
                padding: 0 !important;
                height: 30px !important;
            }
            .reset--filter{
                font-size: 12px;
                color: rgba(0, 0, 0, 0.85);
                margin-left: 28px;
                text-decoration: underline;
            }
        }
        
    }

    // Map view
    .map--view{
        height: calc(100vh - 207px);
    }

    // List view
    .list--wrapper{
        .list--header{
            padding: 17px 20px;
            box-shadow: 0 1px 0 0 #eef0f9;
            h1{
                font-size: 18px;
                color: rgba(0, 0, 0, 0.85);
                margin: 0 0 2px 0;
            }
            p{
                font-size: 12px;
                color: rgba(0, 0, 0, 0.85);
                opacity: 0.55;
            }
            .btn-sm{
                height: 30px !important;
                padding: 5px 40px !important;
                font-family: 'Avenir-bold' !important;
            }
        }
        .table-responsive{
            height: calc(100vh - 345px);
        }
        .table{            
            tr{
                &:hover{
                    background-image: linear-gradient(to left, #31cdf7, #169feb);
                    
                    td, .who--you{
                        color: #fff !important;
                        background-color: transparent !important;
                        .btn{
                            background-color: transparent !important;
                            border-color: #fff !important;
                            color: #fff !important;
                        }
                    }                   
                }
                &:nth-child(odd) {
                    td{
                        background: #fbfbfb
                    }
                }
                td{
                    
                    font-size: 13px;
                    .ds--pic{
                        width: 40px;
                        height: 40px;
                        object-fit: contain;
                        overflow: hidden;
                        border-radius: 50%;
                        margin-right: 15px;
                    }
                    .who--you{
                        color: #1faeef;
                    }

                    &:nth-child(1){
                        width: auto;
                    }
                    &:nth-child(2){
                        width: 125px;
                    }
                    &:nth-child(3){
                        width: 115px;
                    }
                    &:nth-child(4){
                        width: 12%;
                    }
                    &:nth-child(5){
                        width: 140px;
                    }
                    &:nth-child(6){
                        width: 12%;
                    }
                    &:nth-child(7){
                        width: 106px;
                    }
                    &:nth-child(8){
                        text-align: right;
                        width: 23%;
                        .btn {
                            width: 120px;
                            padding: 0 !important;
                            &:first-child{
                                margin-right: 20px;
                            }
                        }
                    }
                }

                &.open--jobs{
                    td{
                        &:first-child{
                            border-left: 8px solid #169feb;
                        }
                    }
                }
                &.your--network{
                    td{
                        &:first-child{
                            border-left: 8px solid #2c3341;
                        }
                    }
                }
            }

        }

        .indicators{
            margin-right: 30px;
            .ind--point{
                width: 14px;
                height: 14px;
                background-color: #2c3341;
                border-radius: 50%;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon{
                    font-size: 6px;
                    color: #fff;
                    margin-right: 1px;
                }
                &.open--job{
                    background-color: #169feb;
                }
            } 
        }
    }

    // Map List
    .map--list--wrapper{
        .sub--label{
            font-size: 13px;
            color: rgba(0, 0, 0, 0.85);
            margin: 17px 5px;
        }
        .table-responsive{
            height: calc(100vh - 515px);
            &.no--height{
                height: auto;
            }
            .table{
                tr{
                    td{
                        .who--you{
                            margin-top: 5px;
                            line-height: 11px;
                        }
                        .rating--star {
                            margin-left: 10px;
                        }
                        .network--point{
                            border: solid 2px #fff;                            
                            background-color: #2c3341;
                            border-radius: 50%;
                            width: 18px;
                            height: 18px;
                            position: absolute;
                            left: -8px;
                            top: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .icon{
                                font-size: 6px;
                                color: #fff;
                                margin-right: 1px;
                            }
                            &.open--job{
                                background-color: #169feb;
                            }
                        }


                        &:nth-child(1){
                            width: auto;
                        }
                        &:nth-child(2){
                            width: 165px;
                        }
                        &:nth-child(3){
                            width: 115px;
                        }
                        &:nth-child(4){
                            width: 23%;
                            text-align: right;
                        }
                    }
                }
            }
        }
       
        
    }
    

}
 
@media only screen and (max-width: 599px) {}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .rf--hori--table .table--footer,
    .search--wrapper .list--wrapper .table-responsive{
        width: 1200px;
    }
    .search--wrapper .list--wrapper .table tr td:nth-child(1) {
        width: 20%;
    }
    .search--wrapper .list--wrapper .table tr td:nth-child(8) {
        width: 28%;
    }
    .search--wrapper .list--wrapper.map--list--wrapper .rf--hori--table .table--footer,
    .search--wrapper .list--wrapper.map--list--wrapper .table-responsive{
        width: 900px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    .rf--hori--table .table--footer,
    .search--wrapper .list--wrapper .table-responsive{
        width: 1200px;
    }
    .search--wrapper .list--wrapper .table tr td:nth-child(8) {
        width: 25%;
    }
    .search--wrapper .list--wrapper .table tr td:nth-child(1) {
        width: 20%;
    }
    .search--wrapper .list--wrapper.map--list--wrapper .rf--hori--table .table--footer,
    .search--wrapper .list--wrapper.map--list--wrapper .table-responsive{
        width: 900px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}