.office--permission--wrapper{
    margin-top: 15px;
    h3{
        font-size: 15px;
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 12px;
    }
    .default--per{
        font-size: 12px;
        text-decoration: underline;
         color: #2c3341;
    }
    .same--wh{
        width: 180px !important;
        height: 40px !important;
    }
}