<div class="row dentals--photo--wrapper">
    <div class="col-8">
        <div class="card rf--card">
            <div class="card-header d-flex align-items-center ">
                <a class="back--to d-flex align-items-center" [routerLink]="['/dashboard/dental-office']">
                    <i class="icon--prev"></i>
                    Back
                </a>
            </div>
            <div class="card-body p-0">

                <div class="rf--tabs ">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab"
                                aria-controls="about" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="office-tab" data-toggle="tab" href="#office" role="tab"
                                aria-controls="office" aria-selected="true">Office</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="staff-tab" data-toggle="tab" href="#staff" role="tab"
                                aria-controls="staff" aria-selected="true">Staff</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="reception-tab" data-toggle="tab" href="#reception" role="tab"
                                aria-controls="reception" aria-selected="true">Reception</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab"
                                aria-controls="other" aria-selected="true">Other</a>
                        </li>
                    </ul>
                    <div class="tab-content pl-0 pr-0">

                        <div class="tab-pane fade show active all--data" id="all" role="tabpanel"
                            aria-labelledby="all-tab">
                            <div class="pad--right--20 d-flex">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-1-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-2-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-3-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-4-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-5-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-1-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-2-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-3-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-4-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-5-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-1-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-2-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-3-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-4-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-5-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show office--data" id="office" role="tabpanel"
                            aria-labelledby="office-tab">
                            <div class="pad--right--20 d-flex">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-2-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-3-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-4-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show staff--data" id="staff" role="tabpanel"
                            aria-labelledby="staff-tab">
                            <div class="pad--right--20 d-flex">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-1-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-3-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show reception--data" id="reception" role="tabpanel"
                            aria-labelledby="reception-tab">
                            <div class="pad--right--20 d-flex">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-3-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show other--data" id="other" role="tabpanel"
                            aria-labelledby="other-tab">
                            <div class="pad--right--20 d-flex">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-5-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-4-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-3-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-2-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 pr-0">
                                            <div class="photos d-flex align-items-center justify-content-center">
                                                <img src="../../../../../assets/images/image-1-rounded.png" alt=""
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-4">
        <app-office-tab-right></app-office-tab-right>
    </div>



</div>