.dentals--photo--wrapper{
    .rf--tabs{
        .nav-tabs{
            .nav-item{
                .nav-link{
                    width: 120px;
                    text-align: center;
                }
            }
        }
        .tab-content {
            min-height: 756px;
            .pad--right--20{
                padding-right: 20px;
            }
            .photos{
                width: 100%;
                height: 130px;
                object-fit: contain;
                overflow: hidden;
                border-radius: 7px;
                margin-bottom: 15px;
            }
        }
    }
   
}