

<footer class="footer--section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-2 col-lg-2">
        <h2>Categories</h2>
        <ul class="m-0 p-0">
          <li><a href="#">General Dentist</a></li>
          <li><a href="#">Specialist</a></li>
          <li><a href="#">Laboratory</a></li>
          <li><a href="#">Inter-office</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-3 col-md-2 col-lg-2">
        <h2>About us</h2>
        <ul class="m-0 p-0">
          <li><a href="#">How it works </a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-3 col-md-2 col-lg-2">
        <h2>Help</h2>
        <ul class="m-0 p-0">
          <li><a href="#">Support </a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-3 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
        <h2>Get the latest</h2>
        <form>
          <div class="input-group get--the--latest">
            <input type="text" class="form-control" placeholder="Email address">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"> Subscribe </button>
            </div>
          </div>
        </form>
        <div class="social--media">
          <a href=""><i class="icon icon-facebook"></i></a>
          <a href=""><i class="icon icon-twitter"></i></a>
          <a href=""><i class="icon icon-insta"></i></a>
          <a href=""><i class="icon icon-gPlus"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="footer-sub---section">
  <div class="container">
    <div class="row">
      <div class="col-12 rights">
        <p class="m-0">© 2019 All Right Reserved.</p>
      </div>

    </div>
  </div>
</footer>
