<div class="calender--right">

    <div class="card rf--card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h2 class="m-0"><strong>Categories</strong></h2>
            <button type="button" class="btn btn-md btn-outline-primary manage--btn">Manage Categories</button>
        </div>
        <div class="card-body p-0 category--body">
            <ul class="m-0 p-0">
                <li>
                    <div class="checkbox">
                        <label class="d-flex mb-0">
                            <input type="checkbox" value="" id="">
                            <span class="cr"><i class="cr-icon color-check fa fa-check show--all"></i></span>
                            Show all
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label class="d-flex mb-0">
                            <input type="checkbox" value="" id="" checked>
                            <span class="cr"><i class="cr-icon color-check clr-1"></i></span>
                            Crown Procedures
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label class="d-flex mb-0">
                            <input type="checkbox" value="" id="" checked>
                            <span class="cr"><i class="cr-icon color-check clr-2"></i></span>
                            Consultations
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label class="d-flex mb-0">
                            <input type="checkbox" value="" id="" checked>
                            <span class="cr"><i class="cr-icon color-check clr-3"></i></span>
                            Teeth Witening
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label class="d-flex mb-0">
                            <input type="checkbox" value="" id="">
                            <span class="cr"><i class="cr-icon color-check clr-4"></i></span>
                            Gum Surgery
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>