<div class="container-fluid pt-3 patient--list--wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card rf--card">
                <div class="card-header d-flex align-items-center justify-content-between">
                   <div class="filter--sec d-flex align-items-center justify-content-between flex-shrink-0">
                        <h2 class="m-0"><strong>Patients</strong></h2>
                        <button type="button" class="btn btn-sm btn-primary d-flex align-items-center filter--btn ">
                            <i class="icon-filter-icon mr-2"></i>
                            Filters
                        </button>
                   </div>
                   <div class="search--sec d-flex align-items-center justify-content-between flex-shrink-0">
                        <div class="form-group search--box mb-0 ">
                            <input type="text" class="form-control" placeholder="Search patients">
                            <i class="icon icon-search"></i>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="fnt-13 m-0"><a><strong>8 patients</strong></a> in your list</p>
                            <button data-toggle="modal" data-target="#addNewpatientModal" type="button" class="btn btn-sm btn-primary d-flex align-items-center ml-3">
                                <i class="icon icon-add-plus mr-2"></i>
                                Add new 
                            </button>
                        </div>
                   </div>
                </div>
                <div class="card-body p-0">
                    <div class="rf--hori--table patient--list--table">
                        <div class="table-responsive no--height">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add new patient Modal -->
<div class="modal fade rf--modal add--new--patient--modal" id="addNewpatientModal" tabindex="-1" role="dialog"
    aria-labelledby="addNewpatientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewpatientModalLabel"> <strong>Add New Patient</strong> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h1 class="main--heading"> <strong>Patient Info</strong> </h1>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>First Name *</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp"
                                placeholder="First Name" value="Monica">
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Last Name *</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp"
                                placeholder="Last Name *" value="Green">
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Birthday *</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp"
                                placeholder="Birthday" value="February 13, 1993">
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Phone number *</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button
                                        class="btn btn-outline-secondary dropdown-toggle"
                                        type="button" data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">Mobile</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item">Phone</a>
                                        <a class="dropdown-item">Other</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="012-345-6789"
                                    aria-label="Text input with dropdown button">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control" aria-describedby="emailHelp"
                                placeholder="Email Address" value="greenmon@gmail.com">
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Insurance</label>
                            <div class="input-group">
                                <div class="input-group-prepend w-100">
                                    <button class="btn btn-outline-secondary dropdown-toggle text-left w-100"
                                        type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">Delta Health</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item">Delta Health 1</a>
                                        <a class="dropdown-item">Delta Health 2</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <h1 class="main--heading mt-3"> <strong>Address</strong> </h1>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Address Line 1</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp"
                                placeholder="Address Line 1" value="509 Madison Ave #1704">
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Address Line 2</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp"
                                placeholder="Address Line 2" >
                        </div>
                    </div>

                    <div class="col-12 col-lg-8">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <div class="form-group">
                                    <label>City</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend w-100">
                                            <button class="btn btn-outline-secondary dropdown-toggle text-left w-100"
                                                type="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">New York</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item">New York 1</a>
                                                <a class="dropdown-item">New York 2</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend w-100">
                                            <button class="btn btn-outline-secondary dropdown-toggle text-left w-100"
                                                type="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">New York</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item">New York 1</a>
                                                <a class="dropdown-item">New York 2</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="form-group">
                                    <label>ZIP</label>
                                    <input type="text" class="form-control" aria-describedby="emailHelp"
                                        placeholder="ZIP" value="10001">
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="col-12 mb-3 mt-3">
                        <div class="checkbox">
                            <label class="d-flex mb-0 align-items-center">
                                <input type="checkbox" value="" id="checkDentist">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Patient has given consent to receive texts/electronic mail *
                            </label>
                        </div>
                    </div>
                    
                    
                </div>
            </form>
            <div class="modal-footer d-flex align-items-center justify-content-between ">
                <button type="button" class="btn btn-outline-primary black--btn btn-md"
                    data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary primary--two btn-md" data-dismiss="modal">Add Patient</button>
            </div>
        </div>
    </div>
</div>