
<section class="signup--wrapper d-flex justify-content-center">
    <div class="signup--box d-flex">
        <div class="signup--left">
            
            <header class="d-flex mb-0">
                <div>
                    <h1>Are you a Dentist or Specialist?</h1>
                    <p>Sign up to ReferHub</p>
                </div>
            </header>

            <section class="stepper--data">
                <h2>Contact</h2>
            </section>
               
        </div>
        <div class="signup--right text-center">
            <h2>ReferHub helps you to organize
                your dental business
            </h2>
            <p>Put simply, <span>ReferHub</span> connects the Specialist with
                the Dentist to collaborate on the patient’s treatment plan,
                by creatinga <span>HIPAA compliant</span> communication channel.
            </p>
            <img src="../../../assets/images/lady-doctor-with-teeth.png" title="" class="img-fluid">
        </div>
    </div>
</section>
