.signup--wrapper{
    background-color: #eeeeee;
    padding: 30px 15px;
    height: auto;
    align-items: center;
    &.stepper--data5{
        height: 100vh;
    }
    .signup--box{
        width: 1100px;
        .signup--left{
            width: 680px;
            background-color: #fff;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 0;
            header{
                border-bottom: 1px solid #ebedf8;
                margin: 30px;
                padding-bottom: 16px;
                justify-content: space-between;
                h1{
                    font-size: 18px;
                    font-family: 'Avenir-bold';
                    margin: 0 0 5px 0;
                }
                p{
                    font-size: 13px;
                    margin-bottom: 0;
                    font-family: 'Avenir-medium';
                }

                .steps--names{
                    display: none;
                    &.activated{
                        display: block;
                    }
                }

                .stepper--indicator{
                    ul{
                        list-style-type: none;
                        li{
                            width: 13px;
                            height: 13px;
                            border: solid 1px #18a3ec;
                            background-color: #18a3ec;
                            border-radius: 1em;
                            margin: 0 1em;
                            display: inline-block;
                            position: relative;
                            &::before{
                                content: '';
                                position: absolute;
                                top: 5px;
                                left: -29px;
                                width: 23px;
                                height: 2px;
                                background: dodgerblue;
                            }
                            &:first-child::before{
                                display: none;
                            }
                            &.active {
                                background: #18a3ec;
                                border-color: #18a3ec;
                            }
                            &.active ~ li {
                                background: lightblue;
                                border-color: lightblue;
                            }
                            &.active ~ li::before {
                                background: lightblue;
                            }
                        }
                    }
                }
            }

            .stepper--data{
                padding: 20px 30px;
                height: 93vh;
                overflow: auto;

                &.stepper--data5{
                    height: 25vh;
                }

                h2{
                    font-size: 15px;
                    font-family: 'Avenir-bold';
                    margin-bottom: 12px;                       
                }

                .profile--img{
                    border-radius: 10px;
                    border: solid 1px #e6eaee;
                    background-color: #ffffff;
                    padding: 20px;
                    flex-direction: column;
                    margin-top: 32px;
                    margin-bottom: 15px;
                    h2{
                        margin-top: 5px;
                    }
                    .user--pic{
                        width: 110px;
                        height: 110px;
                        margin: 20px 0;
                        background-color: #d1edfb;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }
                .upload--select{
                    .icon--camera--blue{
                        background-image: url('../../../assets/images/camera-small-blue.png');
                        width: 17px;
                        height: 15px;
                        background-repeat: no-repeat;
                        margin-right: 10px;
                    }
                    a{
                        color: #2c3341;
                        font-size: 12px;
                        text-decoration: underline;
                        font-family: 'Avenir-medium';
                    }
                    .or{
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.85);
                        margin: 0 13px;
                    }
                }

                .pass--note{
                    margin-top: 10px;
                    p{
                        font-size: 12px;
                        color: #2c3341;
                        font-family: 'Avenir-medium';
                    }
                    
                }

                .pass--indi{
                    position: absolute;
                    right: 10px;
                    bottom: 19px;
                    span{
                        width: 20px;
                        height: 5px;
                        background-color: #d1edfb;
                        margin-right: 1px;
                        &:first-child{
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                        }
                        &:last-child{
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                }

                .step--two{
                    .wh--dd{
                        padding: 15px 15px 20px 15px;
                        ul{
                            list-style-type: none;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .checkbox{
                                label{
                                    flex-direction: column;
                                    align-items: center;
                                    font-size: 11px;
                                    font-family: 'Avenir-bold';
                                }
                            }
                        }
                    }
                    .working--h{
                        .form-control{
                            width: 25px;
                            height: 25px;
                            padding: 0;
                            text-align: center;
                        }
                        .input-group-prepend {
                            .dropdown-toggle{
                                padding-left: 5px !important;
                                padding-right: 22px !important;
                                height: 25px;
                                font-size: 10px !important;
                                padding: 5px !important;
                                width: 50px !important;
                                margin-left: 5px;                                
                                &::after{
                                    top: 9px;
                                    right: 4px;
                                    transform: rotate(0deg);
                                }
                            }
                            &.show{
                                .dropdown-toggle{
                                    &::after{
                                        transform: rotate(180deg);
                                        top: 7px;
                                    }
                                   
                                }
                            }

                        }
                    }
                    .office--wrapper{
                        background-color: #f9f9f9;
                        padding: 20px 15px;                       
                    }
                    .already--listed{
                        background-color: #f9f9f9;
                        padding: 18px 15px;
                        font-size: 12px;
                        margin-bottom: 5px;
                        align-items: center;
                        .td-1{                           
                            font-family: 'Avenir-bold';
                            color: rgba(0, 0, 0, 0.85);
                            width: 35%;
                            .icon--offi{
                                background-image: url('../../../assets/images/office.png');
                                width: 14px;
                                height: 14px;
                                display: inline-block;
                                margin-right: 15px;
                                flex-shrink: 0;
                            }
                        }
                        .td-2{
                            font-family: 'Avenir-bold';
                            color: rgba(0, 0, 0, 0.85);
                            width: 37%;
                        }
                        .td-3{
                            width: 28%;
                            justify-content: flex-end;
                            a{
                                color: #2c3341;
                                font-family: 'Avenir-normal';
                                text-decoration: underline;                                
                                cursor: pointer;
                                &:first-child{
                                    margin-right: 20px;
                                }
                            }
                        }
                    }
                    .same--name--office{
                        border-radius: 4px;
                        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.03);
                        background-color: #fff;
                        padding: 20px;
                        position: absolute;
                        width: 95%;
                        left: 15px;
                        top: 115px;
                        z-index: 9999;
                        .alert{
                            margin-bottom: 20px;
                        }
                        .office--details{
                            h1{
                                font-size: 14px;
                                color: rgba(0, 0, 0, 0.85);
                                font-family: 'Avenir-bold';
                                margin: 0;
                            }
                            .reviewer--star{
                                align-self: flex-start;
                                margin-bottom: 10px;
                                ul{
                                    list-style-type: none;
                                    display: flex;
                                    li{
                                        .fa{
                                            &.active{
                                                color: #f6ca51;
                                            }
                                            color: #d8d8d8;
                                            margin-left: 3px;
                                            font-size: 11px;
                                        }
                    
                                    }
                                }
                            }
                            address{
                                margin-bottom: 20px;
                                h4{
                                    font-size: 13px;
                                }
                                p{
                                    font-size: 11px;
                                    margin-bottom: 10px;
                                }
                            }                            
                        }
                        .dentals--imgs{
                            .img--box{
                                width: 60px;
                                height: 60px;
                                overflow: hidden;
                                margin: 0 0 10px 10px;
                            }
                        }
                        .divider{
                            border-bottom: 1px solid #ebedf8;
                        }
                        .footer{
                            margin-top: 22px;
                            align-items: center;
                            .btn-outline-primary{
                                margin-right: 10px;
                            }
                            p{
                                font-size: 12px;
                                color: rgba(0, 0, 0, 0.85);
                                line-height: 17px
                            }
                            
                        }
                        .arrow_box:after, .arrow_box:before {
                            bottom: 100%;
                            left: 30px;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                        }
                        
                        .arrow_box:after {
                            border-color: rgba(255, 255, 255, 0);
                            border-bottom-color: #fff;
                            border-width: 10px;
                            margin-left: -10px;
                        }
                        .arrow_box:before {
                            border-color: rgba(249, 249, 249, 0);
                            border-bottom-color: #f9f9f9;
                            border-width: 11px;
                            margin-left: -11px;
                        }
                    }
                    .mt--5{
                        margin-top: -5px;
                    }
                    .icon--office{
                        background-image: url('../../../assets/images/office.png');
                        width: 14px;
                        height: 14px;
                        display: inline-block;
                    }
                }

                .step--three{
                    .icon--camera--sm{
                        background-image: url('../../../assets/images/camera-small-blue.png');
                        width: 17px;
                        height: 15px;
                        display: inline-block;
                        margin-right: 7px;
                    }
                    .photos--wrap{
                        background-color: #f9f9f9;
                        margin: 15px 0;
                        padding: 0 0 15px 15px;
                        flex-wrap: wrap;
                        .photo--box{
                            width: 110px;
                            height: 110px;
                            position: relative;
                            margin-right: 17px;
                            margin-top: 17px;
                            .inner--box{
                                width: 108px;
                                height: 108px;
                                background-color: #d1edfb;                                
                                overflow: hidden;
                                margin-right: 15px;
                                border-radius: 5px;
                                position: relative;
                                .img__description_layer{
                                    position: absolute;
                                    height: 30px;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    color: #fff;
                                    visibility: hidden;
                                    opacity: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    transition: opacity .2s, visibility .2s;
                                    background-color: #f2fafeeb;
                                    .img__description {
                                        transition: .2s;
                                        color: #2c3341;
                                        font-size: 11px;
                                        text-decoration: underline;
                                        cursor: pointer;
                                        padding: 0 5px;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                      }
                                }

                                &:hover{
                                    .img__description_layer{
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                    .img__description {
                                        transform: translateY(0);
                                      }
                                }
                                .icon--white--cam{
                                    background-image: url('../../../assets/images/camera-white-big-icon.png');
                                    width: 34px;
                                    height: 30px;
                                    display: inline-block;
                                } 
                                &.no--photo{
                                    opacity: 0.6;
                                }                              
                            }
                            .icon--close{
                                background-image: url('../../../assets/images/close-button.png');
                                width: 15px;
                                height: 15px;
                                display: inline-block;
                                position: absolute;
                                right: -6px;
                                top: -6px;
                                z-index: 999;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .step--four{
                    p{
                        font-size: 12px;
                        margin-bottom: 10px;
                    }
                    .suggestive--searches{
                        .search{
                              .form-control{
                                padding-right: 58px;
                              } 
                              .btn-primary{
                                    position: absolute;
                                    top: 10px;
                                    right: 10px;
                                    padding: 0 9px !important;
                                    font-size: 11px !important;
                                    height: 25px;
                                    border-radius: 3px !important;
                              }
                        }
                        .suggested--tag{
                            ul{
                                list-style-type: none;
                                li{
                                    margin-right: 10px;
                                    font-size: 12px;
                                    font-family: 'Avenir-medium';
                                    a{
                                        text-decoration: underline;
                                        cursor: pointer;
                                    }
                                    &:last-child{
                                        margin: 0;
                                    }
                                }
                            }
                        }
                        .choosed--tag{
                            margin: 15px 0 30px 0;
                            .tag{
                                border-radius: 3px;
                                border: solid 1px #e6eaee;
                                background-color: #fff;
                                font-size: 12px;
                                font-family: 'Avenir-bold';
                                margin: 0 10px 10px 0;
                                padding: 8px 10px;
                                .icon--close{
                                    font-size: 9px;
                                    margin-left: 10px;
                                    font-style: normal;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                .step--five{
                    p{
                        font-size: 13px;
                        line-height: 1.69;
                        color: rgba(0, 0, 0, 0.85);
                    }
                }
                
            }
            .stepper--footer{
                padding: 0 30px 30px 30px;
                .contact--us--btn{
                    padding: 9px 28px !important;
                }
            }
        }


        .signup--right{
            background-color: #18a3ec;
            width: 420px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 30px 25px 0 25px;
            display: flex;
            flex-direction: column;
            .lady--doctor--carona,
            .lady--doctor,
            .male--doctor{
                display: none;
                margin-top: auto;
            }
            &.signup--right1{
                .lady--doctor{
                    display: block;
                }
            }
            &.signup--right3,
            &.signup--right2{
                .male--doctor{
                    display: block;
                }
            }
            &.signup--right4{
                .lady--doctor--carona{
                    display: block;
                    width: 86%;
                }
            }
            &.signup--right5{
                justify-content: center;     
                h2{
                    margin-top: unset;    
                    
                }
            }
            h2{
                font-size: 24px;
                font-family: 'Avenir-bold';
                margin-bottom: 30px;
                color: #fff;
                margin-top: auto;
            }
            p{
                font-size: 14px;
                color: #fff;
                margin-bottom: 20px;
                line-height: 1.71;
                font-family: 'Avenir-light';
                span{
                    font-family: 'Avenir-bold';
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 979px){
    .signup--wrapper.stepper--data5{
        height: 86vh;
    }
    .signup--wrapper  .signup--box  {
        width: 710px;
    }
    .signup--wrapper .signup--box .signup--left header{
        flex-direction: column;
    }
    .signup--wrapper .signup--box .signup--left header .stepper--indicator ul{
        margin-top: 15px !important;
        text-align: center;
    }
    .signup--wrapper .signup--box .signup--left header .stepper--indicator ul li:first-child{
        margin-left: 0;
    }
    .signup--wrapper .signup--box .signup--right{
        justify-content: center;
    }
    .signup--wrapper .signup--box .signup--left .stepper--data {
        margin-bottom: 30px;
        height: 58vh;
    }
    .signup--wrapper .signup--box .signup--right p{
        margin-top: 26px;
    }
    .signup--wrapper .signup--box .signup--left .stepper--data.stepper--data5 {
        height: 15vh;
    }
    .signup--wrapper .signup--box .signup--left .stepper--data .step--two .already--listed {
        align-items: center;
        flex-direction: column;
    }
    .signup--wrapper .signup--box .signup--left .stepper--data .step--two .already--listed .td-1,
    .signup--wrapper .signup--box .signup--left .stepper--data .step--two .already--listed .td-2,
    .signup--wrapper .signup--box .signup--left .stepper--data .step--two .already--listed .td-3{
        width: 100%;
    }
    .signup--wrapper .signup--box .signup--left .stepper--data .step--two .already--listed .td-2,
    .signup--wrapper .signup--box .signup--left .stepper--data .step--two .already--listed .td-3{
        padding-left: 30px;
        margin-top: 5px;
        justify-content: flex-start;
    }
    .signup--wrapper .signup--box .signup--left .stepper--data .step--two .same--name--office .footer .p--note{
        order: -1;
    }
    .signup--wrapper .signup--box .signup--left .stepper--data .step--two .same--name--office .footer .p--note p{
        text-align: left !important;
        margin-bottom: 12px !important;
        display: flex;
    }
}

@media only screen and (min-width: 980px) and (max-width: 1279px){
    .signup--wrapper  .signup--box  {
        width: 98%;
    }
    .signup--wrapper  .signup--box  .signup--left  .stepper--data  {
        height: calc(100vh - 125px);
    }
    .signup--wrapper .signup--box .signup--left .stepper--data .pass--note p {
        font-size: 11px;
    }
    .signup--wrapper .signup--box .signup--left .stepper--data .step--two .same--name--office .dentals--imgs .img--box {
        margin: 0 0 6px 6px;
    }
    .signup--wrapper .signup--box .signup--left .stepper--data .step--two .already--listed .td-3 a:first-child {
        margin-right: 7px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1366px){
    .signup--wrapper  .signup--box  .signup--left  .stepper--data  {
        height: 85vh;
        overflow: auto;
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 1367px) and (max-width: 1440px){
    .signup--wrapper  .signup--box  .signup--left  .stepper--data  {
        height: 73vh;
        overflow: auto;
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1550px){
   
}