<section class="already--acc--wrapper d-flex justify-content-center">
    <div class="account--box d-flex">
        <div class="account--left">
            <header class="mb-0">
                <h1>Looks like you are already have a ReferHub account</h1>
                <p>Please check the information below.</p>
            </header>
            <section class="account--data">
                <h2>Is this your account?</h2>
                <p>We found this account because the information you entered is looks similar.</p>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center" >
                               <div class="user--pro d-flex align-items-center">
                                   <div class="pro--pic">
                                       <img src="../../../assets/images/image-circle.png" alt="" class="img-fluid">
                                   </div>
                                   <h3 class="m-0">Megan Rigden</h3>
                               </div>
                               <div class="user--details d-flex align-items-center">
                                   <p class="m-0">General Dentist at <strong> Linhart Dentistry </strong></p>
                                   <i class="icon--up--down"  data-toggle="collapse" data-target="#collapseOne" ></i>
                               </div>
                            </div>

                            <div id="collapseOne" class="card-body collapse show">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="account--footer d-flex align-items-center justify-content-between">
                <button type="button" class="btn btn-outline-primary black--btn btn-md">Report profile</button>
                <p class="m-0">Not you? <a>Contact us.</a></p>
                <button type="button" class="btn btn-primary primary--two btn-md">It's me, Login</button>
            </section>
        </div>
        <div class="account--right text-center">
            <h2>ReferHub helps you to organize
                your dental business
            </h2>
            <p>Put simply, <strong>ReferHub</strong> connects the Specialist with
                the Dentist to collaborate on the patient’s treatment plan,
                by creating a <strong>HIPAA compliant</strong> communication channel.
            </p>
        </div>
    </div>
</section>