<div class="container-fluid">
    <div class="row">
        <header class="col-12 dashboard--header d-flex align-items-center justify-content-between">
            <div class="logo--left d-flex align-items-center">
                <a [routerLink]="['']">
                    <img src="../assets/images/full-logo.png" alt="logo" class="img-fluid">
                </a>
                <div class="divider"></div>
                <div class="form-group search--box mb-0">
                    <input type="text" class="form-control" placeholder="Type something to search">
                    <i class="icon icon-search"></i>
                </div>
            </div>
            <div class="logo--right d-flex align-items-center">
                <div class="divider ml-0"></div>
                <button  type="button"  class="btn black--btn find--referal--btn">
                    <i class="icon icon-peoples"></i>
                    Find referrals</button>
                <div class="divider"></div>
                <form>
                    <div class="form-group mb-0">
                        <div class="input-group no--border--dd">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary dropdown-toggle text-left"
                                    type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="icon icon-office fnt-15 mr-2"></i>
                                    OthroBright</button>
                                <div class="dropdown-menu">
                                    <!-- <a class="dropdown-item">OthroBright</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <button class="btn notification--btn p-0"><i class="icon-notification"></i></button>
            </div>


        </header>
    </div>
</div>