.dashboard--header{
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    box-shadow: 0 1px 0 0 #e6eaee;
    .divider{
        margin: 0 30px;
        height: 30px;
        border-left: 1px solid #e6eaee;
    }
    .search--box{
        position: relative;
        width: 200px;
        .form-control{
            border: none;
            color: rgba(0, 0, 0, 0.5);
            font-size: 13px;
            padding-left: 25px;
        }
        .icon-search{
            font-size: 14px;
            position: absolute;
            left: 0;
            top: 10px;
        }
    }

    .logo--right{
        margin-left: 0;
        .find--referal--btn{
            padding: 9px  38px !important ;
            .icon-peoples{
                color: #fff;
                font-size: 11px;
                margin-right: 5px;
            }
        }
        
        form{
            .no--border--dd{
                .btn {
                    height: 39px;
                    border: none;  
                    padding-left: 0 !important;     
                    padding-right: 45px !important;         
                    &::after{
                        top: 16px;
                    }
                }
            }
            
        }
        .notification--btn{
            line-height: 11px;
            margin-left: 25px;
            border: 1px solid #169feb;
            height: 34px;
            width: 34px;
            border-radius: 50% !important;
            .icon-notification-blue{
                font-size: 20px;
            }
            &:hover{
                background-color: #169feb;
                .icon-notification-blue{
                    color: #fff;
                }
            }
        }   
       
        
    }
    
}

@media only screen and (min-width: 980px) and (max-width: 1279px){}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .dashboard--header .divider{
        margin: 0 12px;
    }
    .dashboard--header{
        .logo--left {
            img{
                width: 80%;
            }
        }
        .black--btn{
            padding: 6px 18px !important;
        }
    }
}


