.dashboard--header{
    background-color: #fff;
    padding-top: 19px;
    padding-bottom: 19px;
    display: flex;
    box-shadow: 0 1px 0 0 #e6eaee;
    .divider{
        margin: 0 30px;
        height: 30px;
        border-left: 1px solid #e6eaee;
    }
    .search--box{
        position: relative;
        width: 200px;
        .form-control{
            border: none;
            color: rgba(0, 0, 0, 0.5);
            font-size: 13px;
            padding-left: 25px;
        }
        .icon--search{
            background-image: url(/assets/images/icon-search.png);
            width: 14px;
            height: 14px;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 10px;
        }
    }

    .logo--right{
        margin-left: 0;
    }
    
}