.left--side--section{
    width: 210px;
    position: absolute;
    left: 0;
    top: 70px;
    height: 88.8vh;
    overflow: auto;
    box-shadow: 1px 0 0 0 #e6eaee;
    background-color: #fff;
    z-index: 999;
}
.middle--side--section{
    background-color: #efefef;
    position: relative;
    padding: 0 0 0 210px;
    width: 100%;
    height: 88.9vh;
    overflow: auto;
    border-bottom: 1px solid #e6eaee;
    margin-top: 8px;
}
.user-data {
    td {
        vertical-align: middle;
    }
}
.user-table-heading {
    th {
        vertical-align: top;
    }
}

.status-button {
    padding: 5px 10px 5px 10px !important;
}

.has-search .form-control {
    padding-left: 2.0rem;
    max-width: 80px !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}