

<div class="card rf--card settings--right--wrapper">
    <div class="card-header d-flex align-items-center">
        <h2 class="m-0"><strong>Email Preference</strong></h2>
    </div>
    <div class="card-body p-0">


        <div class="email--preferences d-flex justify-content-between">
            <div>
                <h3><strong>Weekly Progress Reports</strong></h3>
                <p class="m-0">Get a weekly report with statistics and insights.</p>
            </div>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="email--preferences d-flex justify-content-between">
            <div>
                <h3><strong>Product Updates</strong></h3>
                <p class="m-0">Important info on new features and products.</p>
            </div>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="email--preferences d-flex justify-content-between">
            <div>
                <h3><strong>Job Updates </strong></h3>
                <p class="m-0">Get a daily mail with your active jobs.</p>
            </div>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="email--preferences d-flex justify-content-between">
            <div>
                <h3><strong>New Referrals </strong></h3>
                <p class="m-0">Get notifications about new referrals.</p>
            </div>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="email--preferences d-flex justify-content-between">
            <div>
                <h3><strong>Network Updates </strong></h3>
                <p class="m-0">Notifications when someone wants to add you.</p>
            </div>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="email--preferences d-flex justify-content-between">
            <div>
                <h3><strong>Marketing Emails </strong></h3>
                <p class="m-0">Our marketing emails</p>
            </div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="email--preferences d-flex justify-content-between">
            <div>
                <h3><strong>Unsubscribe All </strong></h3>
                <p class="m-0">Unsibscribe from all emails</p>
            </div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>



    </div>
</div>