@import "../already-account/already-account.component.scss";
.cnp--sec{
    .btn-outline-primary{
        margin-right: 10px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .already--acc--wrapper .account--box .account--left .account--footer .btn-md {
        padding: 6px 7px !important;
        font-size: 12px !important;
    }
}