<section class="already--acc--wrapper d-flex justify-content-center">
    <div class="account--box d-flex">
        <div class="account--left">
            <header class="mb-0">
                <h1>Claim your profile on ReferHub</h1>
                <p>Please claim your profile to use ReferHub</p>
            </header>
            <section class="account--data">
                <h2>Is this your account?</h2>
                <p>Please check the information below</p>
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header d-flex align-items-center" >
                               <div class="user--pro d-flex align-items-center">
                                   <div class="pro--pic">
                                       <img src="../../../assets/images/image-circle.png" alt="" class="img-fluid">
                                   </div>
                                   <h3 class="m-0">Megan Rigden</h3>
                               </div>
                               <div class="user--details d-flex align-items-center">
                                   <p class="m-0">General Dentist at <strong> Linhart Dentistry </strong></p>
                                   <i class="icon--up--down collapsed"  data-toggle="collapse" data-target="#collapseOne" ></i>
                               </div>
                            </div>

                            <div id="collapseOne" class="collapse" >
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-lg-4 office--details">
                                            <h1>Good Dental</h1>
                                            <div class="reviewer--star">
                                                <ul class="p-0 m-0">
                                                  <li><i class="fa fa-star ml-0 active" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                </ul>
                                              </div>
                                              <address>
                                                  <h4 class="m-0"><strong>New York</strong></h4>
                                                  <p>245 E 63rd St #110</p>
                                                  <p class="mb-0"><strong>310-123-4567</strong></p>
                                              </address>
                                        </div>
                                        <div class="col-12 col-sm-8 col-lg-8 pl-0">
                                            <div class="dentals--imgs d-flex justify-content-end flex-wrap">
                                                <div class="img--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../assets/images/01.png" alt="" class="img-fluid">
                                                </div>
                                                <div class="img--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../assets/images/02.png" alt="" class="img-fluid">
                                                </div>
                                                <div class="img--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../assets/images/03.png" alt="" class="img-fluid">
                                                </div>
                                                <div class="img--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../assets/images/04.png" alt="" class="img-fluid">
                                                </div>
                                                <div class="img--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../assets/images/05.png" alt="" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="account--footer d-flex align-items-center justify-content-between">
                <button type="button" class="btn btn-outline-primary black--btn btn-md">Report profile</button>
               <div class="cnp--sec">
                <button type="button" routerlink="/auth/signin" class="btn btn-outline-primary btn-md" >Not you? Create new profile</button>
                <button type="button" class="btn btn-primary primary--two btn-md">Claim Profile</button>
               </div>
            </section>
        </div>
        <div class="account--right text-center">
            <h2>ReferHub helps you to organize
                your dental business
            </h2>
            <p>Put simply, <strong>ReferHub</strong> connects the Specialist with
                the Dentist to collaborate on the patient’s treatment plan,
                by creating a <strong>HIPAA compliant</strong> communication channel.
            </p>
        </div>
    </div>
</section>