<div class="container-fluid">
    <div class="row">
        <div class="col-12 auth--footer d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-primary primary--two d-flex align-items-center">
                    <i class="icon--refer--friend mr-2"></i>
                    Refer a friend
                </button>
                <p class="m-0 ml-3">Invite friends and colleagues to <strong>ReferHub</strong> <a>Show Invites</a> </p>
            </div>
            <div>
                <ul class="d-flex align-items-center m-0 p-0">
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of service</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>