.admin-header {
    .rf--header {
        background-color: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: position 10s;
        -ms-transition: position 10s;
        -o-transition: position 10s;
        transition: all 0.5s ease;

        &.scrolled {
            position: fixed;
            z-index: 999;
            width: 100%;
            left: 0;
            right: 0;
            animation: smoothScroll 1s forwards;

            @keyframes smoothScroll {
                0% {
                    transform: translateY(-40px);
                }

                100% {
                    transform: translateY(0px);
                }
            }

            .navbar {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .navbar {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .navbar-brand {
            display: flex;
            flex-shrink: 0;
        }

        ul {
            align-items: center;

            li {
                flex-shrink: 0;
                margin: 0 15px;

                a {
                    font-size: 15px;
                    font-family: Avenir-normal;
                    color: #000;
                    position: relative;
                    padding: 5px 0;

                    &::after {
                        content: "";
                        background: #169feb;
                        height: 2px;
                        position: absolute;
                        bottom: -1px;
                        transition: .3s all .025s;
                        left: 0;
                        right: 100%;
                    }

                    &:hover {
                        color: #169feb;

                        &::after {
                            left: 0;
                            right: 0;
                        }
                    }

                }

                .sign--up--btn {
                    margin-left: 10px;
                    box-shadow: none;
                }
            }
        }

        .navbar-items-container {
            justify-content: flex-end;
        }

        .search--include {
            width: 80%;
            align-items: center;
            justify-content: space-around;

            .icon-search {
                font-size: 14px;
                position: absolute;
                right: 15px;
                top: 12px;
            }

            .search {
                width: 40%;
            }

            li {
                .input-group {
                    .form-control {
                        padding: 5px 40px 5px 15px;
                        font-size: 13px;
                        height: 38px;
                        border-radius: 5px;
                        border: solid 1px rgba(0, 0, 0, 0.1);
                        background-color: rgba(248, 248, 248, 0);
                        transition: box-shadow 0.3s;

                        &:focus {
                            box-shadow: 0px 0px 0px 1px #169feb !important;
                        }
                    }

                    ::placeholder {
                        color: rgba(0, 0, 0, 0.2);
                        font-size: 13px;
                    }

                    :-ms-input-placeholder {
                        color: rgba(0, 0, 0, 0.2);
                        font-size: 13px;
                    }

                    ::-ms-input-placeholder {
                        color: rgba(0, 0, 0, 0.2);
                        font-size: 13px;
                    }
                }
            }
        }
    }
}