.day--select--wrapper{
    .rf--card{
        .card-header{
            h4{
                margin: 0 20px;
                padding: 0 20px;
                font-size: 18px;
                border-left: 1px solid #ebedf8;
                border-right: 1px solid #ebedf8;
            }
        }
    }
}