<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-12 col-lg-8 day--select--wrapper">
            <div class="card rf--card">
                <div class="card-header d-flex align-items-center ">
                    <a class="back--to d-flex align-items-center">
                        <i class="icon--prev"></i> Back </a>
                        <h4><strong>13, January</strong></h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 ">
            <app-calender-right-side></app-calender-right-side>
        </div>
    </div>
</div>