<section class="login--wrapper d-flex justify-content-center">
  <div class="login--box d-flex">
    <div class="left--sec">
    <div class="row">
      <div class="col-12">
        <header>
          <h1>Admin Login</h1>
          <p>Login to ReferHub</p>
        </header>
      </div>
      <div class="col-12">
        <form>
          <div class="form-group">  
            <label>Email address *</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"
              value="drmeganrigden@gmail.com">
          </div>
          <div class="form-group mb-4">
            <label>Password *</label>
            <input type="password" class="form-control " placeholder="Password" value="123456789">
            <small class="form-text text-right"><a routerLink="/admin/forgotPassword" class="forgot--pass">Forgot password?</a> </small>
          </div>
          <div class="form-group mb-4">
            <button type="submit" class="btn btn-primary primary--two w-100">Login</button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</section>