.fp--wrapper{
    background-color: #eeeeee;
    padding: 30px 15px;
    height: 90vh;
    align-items: center;
    .fp--box{
        width: 420px;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.03);
        background-color: #fff;
        padding: 30px;
        flex-direction: column;
        .header{
            border-bottom: 1px solid #ebedf8;
            margin-bottom: 20px;
            padding-bottom: 20px;
            flex-direction: column;
            h1{
                font-size: 18px;
                color: rgba(0, 0, 0, 0.85);
                margin: 0;
            }
            small{
                color: rgba(0, 0, 0, 0.85);
                margin-top: 5px;
                font-family: 'Avenir-medium';
            }
        }
        .form-group{
            margin-bottom: 20px;
        }
        h2{
            font-size: 15px;
            margin: 30px 0 15px 0;
        }
        .suggestive--list{
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border: solid 1px #ebedf8;
            background-color: #fafafa;
            padding: 10px 15px;
            margin-top: -1px;
            .photo--wrapper{
                width: 44px;
                height: 44px;
            }
            h5{
                font-size: 12px;
                color: rgba(0, 0, 0, 0.85);
            }
            a{
                text-decoration: underline;
                font-size: 12px;
            }
            p{
                color: rgba(0, 0, 0, 0.85);
                font-size: 12px;
                margin: 3px 0 0 0 ;
            }
        }
    }
}