<section class="fp--wrapper d-flex justify-content-center">
    <div class="fp--box d-flex">
        <div class="header d-flex w-100">
            <h1> <strong>Forgot your Password?</strong> </h1>
            <small class="fnt-13 d-flex">Enter your email below to receive a Password Reset Link.</small>
        </div>
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form-group">
                        <label>Email address *</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp"
                            placeholder="Email address" value="" (keyup)="emailAddress($event.target.value)" >
                            <i class="icon--form icon-combined-tick" *ngIf="suggestiveList"></i>

                        <div class="suggestive--list" *ngIf="suggestiveList">
                            <div class="d-flex align-items-center">
                                <div class="photo--wrapper flex-shrink-0">
                                    <img src="assets/images/profile-1-image-circle.png" alt="" class="img-fluid">
                                </div>
                                <div class="w-100">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h5 class="m-0"> <strong>Megan Rigden</strong> </h5>
                                        <a class="fnt-12">Not you? Contact us.</a>
                                    </div>
                                    <p>General Dentist at Linhart Dentistry</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <button type="button" class="btn btn-primary primary--two btn-md w-100" disabled>Send me a
                            Password Reset Link</button>
                    </div>
                </form>
                <form>
                    <h2> <strong>Don't have an account yet?</strong> </h2>
                    <div class="form-group mb-0">
                        <button type="button" class="btn btn-outline-primary primary--two btn-md w-100">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>