<section class="already--acc--wrapper reclaim--wrapper d-flex justify-content-center">
    <div class="account--box d-flex">
        <div class="account--left">
            <header class="mb-0">
                <h1>Reclaim Your Profile</h1>
                <p>We need additional information from you.</p>
            </header>
            <section class="account--data">
                <form>
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <div class="user--pro d-flex align-items-center">
                                    <div class="pro--pic">
                                        <img src="../../../assets/images/image-circle.png" alt="" class="img-fluid">
                                    </div>
                                    <h3 class="m-0">Megan Rigden</h3>
                                </div>
                                <div class="user--details d-flex align-items-center">
                                    <p class="m-0">General Dentist at <strong> Linhart Dentistry </strong></p>
                                    <!-- <i class="icon--up--down collapsed" data-toggle="collapse"
                                        data-target="#collapseOne"></i> -->
                                    <button type="button" class="btn p-0 round--collapsed--btn d-flex align-items-center justify-content-center collapsed" data-toggle="collapse" data-target="#collapseOne">
                                        <i class="icon-arrow-top"></i>
                                    </button>
                                        
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-4 col-lg-4 office--details">
                                            <h1>Good Dental</h1>
                                            <div class="reviewer--star">
                                                <ul class="p-0 m-0">
                                                  <li><i class="icon icon-star-full active ml-0" aria-hidden="true"></i></li>
                                                  <li><i class="icon icon-star-full active" aria-hidden="true"></i></li>
                                                  <li><i class="icon icon-star-full active" aria-hidden="true"></i></li>
                                                  <li><i class="icon icon-starhalf active" aria-hidden="true"></i></li>
                                                  <li><i class="icon icon-star-full" aria-hidden="true"></i></li>
                                                </ul>
                                              </div>
                                            <address>
                                                <h4 class="m-0"><strong>New York</strong></h4>
                                                <p>245 E 63rd St #110</p>
                                                <p class="mb-0"><strong>310-123-4567</strong></p>
                                            </address>
                                        </div>
                                        <div class="col-12 col-sm-8 col-lg-8 pl-0">
                                            <div class="dentals--imgs d-flex justify-content-end flex-wrap">
                                                <div class="img--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../assets/images/01.png" alt="" class="img-fluid">
                                                </div>
                                                <div class="img--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../assets/images/02.png" alt="" class="img-fluid">
                                                </div>
                                                <div class="img--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../assets/images/03.png" alt="" class="img-fluid">
                                                </div>
                                                <div class="img--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../assets/images/04.png" alt="" class="img-fluid">
                                                </div>
                                                <div class="img--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../assets/images/05.png" alt="" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label>Upload your Dentist License *</label>
                            <div class="attachment--box d-flex align-items-center ">
                                <i class="icon-attachment"></i>
                                <a>Upload your Dentist License</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label>Contact phone number *</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">Mobile</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" >Phone</a>
                                        <a class="dropdown-item" >Other</a>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="012-345-6789"
                                    aria-label="Text input with dropdown button">
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label>Email address *</label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="" value="">
                          </div>
                    </div>
                    
                </div>
                </form>
            </section>
            <section class="account--footer d-flex align-items-center justify-content-between">
                <button type="button" class="btn btn-outline-primary black--btn btn-md">Back</button>
                <button type="button" class="btn btn-primary primary--two btn-md">Send</button>
            </section>
        </div>
        <div class="account--right text-center">
            <h2>ReferHub helps you to organize
                your dental business
            </h2>
            <p>Put simply, <strong>ReferHub</strong> connects the Specialist with
                the Dentist to collaborate on the patient’s treatment plan,
                by creating a <strong>HIPAA compliant</strong> communication channel.
            </p>
        </div>
    </div>
</section>