.facebook--invite--wrapper{
    margin-top: 15px;
    .card-header{
        h1{
            margin-left: 20px;
            padding-left: 20px;
        }
    }
    .card-body{
        .invite--email{
            font-size: 14px;
            margin-bottom: 5px;
        }
        .invite--txt{
            margin-bottom: 21px;
            font-size: 13px;
        }
        .friends--invite{
            font-size: 13px;
            color: rgba(0, 0, 0, 0.85);
            span{
                border-radius: 3px;
                background-color: #e8f3ff;
                padding: 3px;
                margin: 0 5px;
            }
        }

    }
    .invite--by--email{
        border-top: 1px solid #ebedf8;
        border-bottom: 1px solid #ebedf8;
        .copy--link{
            .form-control{
                border: solid 1px #e6eaee;
                background-color: #fbfbfb;
                pointer-events: none;
                margin-right: 20px;
            }
        }
    }

    .invite--fb--friends{
        .fb--invites{
            height: 40px;
            padding-left: 35px;
            padding-right: 10px;
            border-radius: 4px;
        }
        .icon--search{
            background-image: url('/assets/images/icon-search.png');
            width: 14px;
            height: 14px;
            background-repeat: no-repeat;
            position: absolute;
            left: 12px;
            top: 13px;
            z-index: 999;
        }
        .input-group {
            width: 47%;
        }

        .left{
            .photo--wrapper{
                width: 30px;
                height: 30px;
            }
            p{
                font-size: 14px;
            }
        }
        .invited--btns{
            width: 140px;
            padding: 9px 20px !important;
        }
    } 
    
    
        // Right side
        .invite--right--sec{
            h3{
                font-size: 14px;
                margin-bottom: 11px;
            }
            p{
                font-size: 13px;
            }
            .btn-md{
                padding: 9px 33px !important;
            }
            .card--footer{
                border-top: solid 1px #ebedf8;
                .rounded--tabs{
                    border: 1px solid transparent !important;
                    li{
                        a{
                            background-color: #e8f3ff;
                            border-color: #fff;
                            width: 50px;
                            height: 20px;
                            &.active{
                                background-color: #169feb;
                            }
                        }
                    }
                }
                p{
                    font-size: 13px;
                }
            }
        }

        .latest--invite{
            a{
                font-size: 12px;
                color: #169feb;
            }
            .latest--invite--table{
                .table-responsive{
                    table{
                        tbody{
                            tr{
                                &:first-child{
                                    td{
                                        border-top: 0;
                                    }
                                }
                                &:last-child{
                                    td{
                                        border-bottom: 0;
                                    }
                                }
                                td{
                                    font-size: 12px;                                    
                                    &:first-child{
                                        padding-left: 0;
                                        width: 10%;
                                    }                                    
                                    &:last-child{
                                        width: 230px;
                                        padding-right: 0;
                                        padding-left: 0;
                                        text-align: right;
                                    }
                                    .btn-sm{
                                        border-radius: 30px !important;
                                        width: 100px;
                                        height: 28px !important;
                                        padding: 0 !important;
                                        font-size: 10px !important;
                                        margin-left: 15px;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }

}