<div class="container-fluid facebook--invite--wrapper">

    <div class="row ">

        <div class="col-12 col-lg-8">
            <div class="card rf--card">
                <div class="card-header d-flex align-items-center ">
                    <a class="back--to d-flex align-items-center">
                        <i class="icon--prev"></i>
                        Back
                    </a>
                    <h1><strong>Refer a friend to ReferHub</strong></h1>
                </div>
                <form class="card-body">
                    <h3 class="invite--email"><strong>Invite by Email</strong></h3>
                    <p class="invite--txt">Enter your friends or colleagues email bellow to invite them to join ReferHub
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-between mt-2">
                            <button type="button" class="btn btn-primary primary--two"> Send Invites </button>
                            <div class="friends--invite d-flex align-items-center ">
                                Invite <span><strong>8 friends</strong></span> to join ReferHub
                            </div>
                        </div>
                    </div>
                </form>

                <div class="card-body invite--by--email">
                    <div class="row">
                        <div class="col-12 ">
                            <h3 class="invite--email"><strong>Invite by Referral Link</strong></h3>
                            <p class="invite--txt">You can copy and share the link below</p>
                        </div>
                        <div class="col-12">
                            <form class="w-100 ">
                                <div class="form-group d-flex copy--link">
                                    <input type="text" class="form-control"
                                        placeholder="http://referhub.com/referral/id67870323?link" value="">
                                    <button type="button" class="btn btn-md btn-outline-primary flex-shrink-0">Copy
                                        Link</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-body invite--fb--friends">
                    <div class="row">
                        <form class="col-12 d-flex align-items-center justify-content-between mb-3">
                            <div>
                                <h3 class="invite--email"><strong>Invite Facebook Friends</strong></h3>
                                <p class="invite--txt m-0">Select friends from your Facebook Friend List</p>
                            </div>
                            <div class="input-group relative">
                                <input type="text" class="form-control fb--invites"
                                    placeholder="Search Facebook Friends" value="">
                                <i class="icon--search"></i>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <div class="left d-flex align-items-center">
                                <div class="photo--wrapper">
                                    <img src="assets/images/profile-1-image-circle.png" alt="" class="img-fluid">
                                </div>
                                <p class="m-0">Chikelu Obasea</p>
                            </div>
                            <button type="button" class="btn btn-primary primary--two invited--btns"> Invite </button>
                        </div>
                        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <div class="left d-flex align-items-center">
                                <div class="photo--wrapper">
                                    <img src="assets/images/profile-2-image-circle.png" alt="" class="img-fluid">
                                </div>
                                <p class="m-0">Jesús Moruga</p>
                            </div>
                            <button type="button" class="btn btn-primary primary--two invited--btns"> Invite </button>
                        </div>
                        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <div class="left d-flex align-items-center">
                                <div class="photo--wrapper">
                                    <img src="assets/images/profile-3-image-circle.png" alt="" class="img-fluid">
                                </div>
                                <p class="m-0">Benedikt Safiyulin</p>
                            </div>
                            <button type="button" class="btn black--btn invited--btns"> Invited </button>
                        </div>
                        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <div class="left d-flex align-items-center">
                                <div class="photo--wrapper">
                                    <img src="assets/images/profile-1-image-circle.png" alt="" class="img-fluid">
                                </div>
                                <p class="m-0">Chinaza Akachi</p>
                            </div>
                            <button type="button" class="btn btn-primary primary--two invited--btns"> Invite </button>
                        </div>
                        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <div class="left d-flex align-items-center">
                                <div class="photo--wrapper">
                                    <img src="assets/images/profile-1-image-circle.png" alt="" class="img-fluid">
                                </div>
                                <p class="m-0">Chikelu Obasea</p>
                            </div>
                            <button type="button" class="btn btn-primary primary--two invited--btns"> Invite </button>
                        </div>
                        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <div class="left d-flex align-items-center">
                                <div class="photo--wrapper">
                                    <img src="assets/images/profile-2-image-circle.png" alt="" class="img-fluid">
                                </div>
                                <p class="m-0">Jesús Moruga</p>
                            </div>
                            <button type="button" class="btn btn-primary primary--two invited--btns"> Invite </button>
                        </div>
                        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <div class="left d-flex align-items-center">
                                <div class="photo--wrapper">
                                    <img src="assets/images/profile-3-image-circle.png" alt="" class="img-fluid">
                                </div>
                                <p class="m-0">Benedikt Safiyulin</p>
                            </div>
                            <button type="button" class="btn black--btn invited--btns"> Invited </button>
                        </div>
                        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-between mb-2">
                            <div class="left d-flex align-items-center">
                                <div class="photo--wrapper">
                                    <img src="assets/images/profile-1-image-circle.png" alt="" class="img-fluid">
                                </div>
                                <p class="m-0">Chinaza Akachi</p>
                            </div>
                            <button type="button" class="btn btn-primary primary--two invited--btns"> Invite </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="row">
                <div class="col-12 invite--right--sec">
                    <div class="card rf--card">
                        <div class="card-header d-flex align-items-center justify-content-between ">
                            <h2 class="m-0"><strong>ReferHub Referral Program</strong></h2>
                        </div>
                        <div class="card-body">
                            <h3> <strong> Invite Friend and receive a Free Premium </strong> </h3>
                            <p class="m-0">When you invite friends to ReferHub, you will earn 1 point when they create
                                an active account. Invite 5 and receive ReferHub Premium for 1 month.</p>
                        </div>
                        <div class="card-body card--footer d-flex align-items-cente justify-content-between ">
                            <div class="d-flex align-items-center flex-shrink-0">
                                <ul class="nav nav-tabs rounded--tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active"></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active"></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active"></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"></a>
                                    </li>
                                </ul>
                            </div>
                            <p class="m-0"><strong> 3 of 5 </strong> friends joined</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 latest--invite">
                    <div class="card rf--card">
                        <div class="card-header d-flex align-items-center justify-content-between ">
                            <h2 class="m-0"><strong>Latest Invites</strong></h2>
                            <a>Show all Invites</a>
                        </div>
                        <div class="card-body pt-0 pb-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="rf--hori--table latest--invite--table">
                                        <div class="table-responsive ">
                                            <table class="table mb-0">
                                                <tbody>
                                                    <tr>
                                                        <td>nayaradelafuente@gmail.com</td>
                                                        <td>
                                                            <div class="d-flex align-items-center justify-content-end ">
                                                                <p class="m-0">Sent 25.03.2020</p>
                                                                <button type="button" class="btn btn-sm btn-outline-primary">Send Again </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>arina-belomestnykh@gmail.com</td>
                                                        <td>
                                                            <div class="d-flex align-items-center justify-content-end">
                                                                <p class="m-0">Accepted 25.03.2020</p>
                                                                <button type="button" class="btn btn-sm black--btn">Accepted</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>mkhuselimalinga@gmail.com</td>
                                                        <td>
                                                            <div class="d-flex align-items-center justify-content-end ">
                                                                <p class="m-0">Sent 25.03.2020</p>
                                                                <button type="button" class="btn btn-sm btn-outline-primary">Send Again </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>anaruhakopa@gmail.com</td>
                                                        <td>
                                                            <div class="d-flex align-items-center justify-content-end ">
                                                                <p class="m-0">Sent 25.03.2020</p>
                                                                <button type="button" class="btn btn-sm btn-outline-primary">Send Again </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>alexarichardson@gmail.com</td>
                                                        <td>
                                                            <div class="d-flex align-items-center justify-content-end ">
                                                                <p class="m-0">Sent 25.03.2020</p>
                                                                <button type="button" class="btn btn-sm btn-outline-primary">Send Again </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>esterbednarova@gmail.com</td>
                                                        <td>
                                                            <div class="d-flex align-items-center justify-content-end">
                                                                <p class="m-0">Accepted 25.03.2020</p>
                                                                <button type="button" class="btn btn-sm black--btn">Accepted</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>jordannakitchener@gmail.com</td>
                                                        <td>
                                                            <div class="d-flex align-items-center justify-content-end">
                                                                <p class="m-0">Accepted 25.03.2020</p>
                                                                <button type="button" class="btn btn-sm black--btn">Accepted</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>