<div class="back--to--search">
    <a class="fnt-12"> Back to Search Results</a>
</div>
<div class="container-fluid pt-3 dental--profile--wrapper">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card rf--card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <a class="back--to d-flex align-items-center">
                        <i class="icon--prev"></i>
                        Back
                    </a>
                </div>
                <div class="card-body p-0">
                    <div class="sub--header">
                        <div class="row d-flex align-items-center">
                            <div class="col-12 col-lg-12 col-xl-6">
                                <div class="dental--info d-flex align-items-center">
                                   <div class="relative">
                                    <div class="office--pic">
                                        <img src="../../../../assets/images/image-2.png" alt=""
                                            class="img-fluid">
                                    </div>
                                    <div class="active--status"></div>
                                   </div>
                                    <div class="office--details">
                                        <h1> <strong>Regina Pollastro </strong> <a>Cliam profile</a> </h1>
                                        <p> <strong class="mr-2">Available</strong> Response time: 2 hrs</p>
                                        <div class="reviewer--star" *ngIf="">
                                            <ul class="p-0 m-0">
                                                <li><i class="icon icon-star-full active ml-0" aria-hidden="true"></i></li>
                                                <li><i class="icon icon-star-full active" aria-hidden="true"></i></li>
                                                <li><i class="icon icon-star-full active" aria-hidden="true"></i></li>
                                                <li><i class="icon icon-starhalf active" aria-hidden="true"></i></li>
                                                <li><i class="icon icon-star-full" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12 col-xl-6 details--actions d-flex align-items-center">
                                <button type="button" class="btn black--btn">Start a new referral</button>
                                <button type="button" class="btn btn-md btn-outline-primary">In your network</button>
                                <button type="button" class="btn btn-md btn-outline-primary">
                                    <i class="icon--chat"></i>
                                </button>
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <!-- selected -->
                    <div class="selected--tages d-flex">
                        <div class="tag">
                            Dentist
                        </div>
                        <div class="tag">
                            Endodonist
                        </div>
                        <div class="tag">
                            Orthodonist
                        </div>
                        <div class="tag">
                            Prosthodonist
                        </div>
                    </div>

                    <div class="active--notifi d-flex align-items-center ">
                        <i class="icon--bag"></i>
                        <p class="m-0 fnt-13">You have <a><strong>1 active job </strong></a> with Dr. Regina Pollastro  </p>
                        <a class="show--jobs">Show all jobs</a>
                    </div>

                    <div class="rf--tabs ">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab"
                                    aria-controls="about" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Certifications</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Completed Jobs </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Active Jobs </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Reviews</a>
                            </li>
                         
                        </ul>
                        <div class="tab-content pl-0 pr-0">

                            <!-- About tab -->
                            <div class="tab-pane fade show active about--data" id="about" role="tabpanel"
                                aria-labelledby="about-tab">
                                <h2><strong>About Dentist</strong></h2>
                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere
                                    lectus
                                    sed dolor suscipit, ac porttitor leo semper. Vestibulum laoreet ultricies mauris sit
                                    amet suscipit. Nulla at odio lectus. Vestibulum ac metus sed nisl sollicitudin
                                    finibus
                                    vel euismod ante. Mauris dignissim sapien a dolor vestibulum finibus sit amet nec
                                    augue.
                                    Morbi ex ante, molestie ac lorem dictum, volutpat dictum libero. Morbi turpis metus,
                                    ultricies ut neque sed, tristique aliquam lacus. Etiam tempus semper neque, eget
                                    ornare
                                    enim tincidunt non. Suspendisse rhoncus, magna quis viverra pellentesque, leo orci
                                    bibendum leo, sed malesuada dui enim vitae dolor. Ut urna nisl, porta nec ligula
                                    vel,
                                    venenatis cursus lorem. Vestibulum congue massa quis mattis dictum.</p>
                            </div>

                          

                        </div>
                    </div>
                </div>
            </div>


            <div class="first--tab--extra--content">

                <!-- 25+ mutual colleagues -->
                <div class="card rf--card">
                    <div class="card-body add--network--sec d-flex">
                        <div class="left d-flex align-items-center">
                            <i class="icon--analytics"></i>
                            <div class="d-flex flex-column">
                                <h3><strong>Regina just started her work at Dr. Flow</strong></h3>
                                <p class="m-0 fnt-12">The statistics will appear soon…</p>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="right d-flex align-items-center">
                            <div class="d-flex flex-column">
                                <h3><strong>You have no common colleagues</strong></h3>
                                <p class="m-0 fnt-12">Add to network & start your first collaboration</p>
                            </div>
                            <button type="button" class="btn btn-sm btn-primary box-shadow-none add--net--btn">Add to network</button>
                        </div>
                    </div>
                </div>

                <!-- photos -->
                <div class="card rf--card photos--wrapper">
                    <div class="card-body">
                        <h1> <strong>Photos</strong> <span>30 photos</span></h1>
                        <div class="d-flex img--boxes">
                            <div class="img--box">
                                <img src="../../../../../assets/images/image-1-rounded.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box">
                                <img src="../../../../../assets/images/image-2-rounded.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box">
                                <img src="../../../../../assets/images/image-3-rounded.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box">
                                <img src="../../../../../assets/images/image-4-rounded.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box">
                                <img src="../../../../../assets/images/image-5-rounded.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box last--box">
                                <img src="../../../../../assets/images/image-1-rounded.png" alt="" class="img-fluid">
                                <button type="button" class="btn btn-outline-primary black--btn btn-md show--more"
                                    [routerLink]="['/dashboard/dentals-photos']">Show more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="col-12 col-lg-4">
            <app-office-tab-right></app-office-tab-right>
        </div>

    </div>

</div>