<section class="admin-forgot-password--wrapper d-flex justify-content-center">
  <div class="forgot-password--box d-flex">
    <div class="left--sec">
    <div class="row">
      <div class="col-12">
        <header>
          <h1>Admin Login</h1>
          <p>Forgot Password?</p>
        </header>
      </div>
      <div class="col-12">
        <div *ngIf="message && isFormSubmitted" class="alert alert-success" role="alert">
          {{message}}
        </div>
        <div *ngIf="error" class="alert alert-danger" role="alert">
          {{error}}
        </div>
        <form #forgotPasswordForm="ngForm" (ngSubmit)="forgotPasswordForm.form.valid && forgotPassword()">
          <div *ngIf="!isFormSubmitted" class="form-group">  
            <label>Email address *</label>
            <input type="email" name="email" class="form-control" aria-describedby="emailHelp" 
              #email="ngModel" placeholder="Enter email" [(ngModel)]="admin.email"
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [ngClass]="{ 'is-invalid': forgotPasswordForm.submitted && email.invalid }" required>
            <div *ngIf="forgotPasswordForm.submitted && email.errors">
              <label *ngIf="email.errors.required" class="text-danger">Your email ID must not be left blank</label>
              <label *ngIf="email.errors.pattern" class="text-danger">Please enter a valid email address</label>
            </div>
          </div>
          <div *ngIf="!isFormSubmitted" class="form-group">
            <button type="submit" class="btn btn-primary primary--two w-100">Reset Password</button>
          </div>
          <small class="form-text"><a routerLink="/admin/login" class="forgot--pass">Login instead?</a> </small>
        </form>
      </div>
    </div>
    </div>
  </div>
</section>