<div class="container-fluid pt-3 about--bg">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card rf--card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <a class="back--to d-flex align-items-center">
                        <i class="icon--prev"></i>
                        Back
                    </a>
                </div>
                <div class="card-body p-0">
                    <div class="sub--header">
                        <div class="row d-flex align-items-center">
                            <div class="col-12 col-lg-12 col-xl-6">
                                <div class="dental--info d-flex align-items-center">
                                    <div class="office--pic">
                                        <img src="../../../../../assets/images/building-img-rounded.png" alt=""
                                            class="img-fluid">
                                    </div>
                                    <div class="office--details">
                                        <h1> <strong> Good Dental </strong> </h1>
                                        <p> <strong>Available</strong> Response time: 2 hrs</p>
                                        <div class="reviewer--star">
                                            <ul class="p-0 m-0">
                                                <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star active" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12 col-xl-6 details--actions d-flex align-items-center">
                                <button type="button" class="btn black--btn">Start a new referral</button>
                                <button type="button" class="btn btn-md btn-outline-primary">In your network</button>
                                <button type="button" class="btn btn-md btn-outline-primary">
                                    <i class="icon--chat"></i>
                                </button>
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <!-- selected -->
                    <div class="selected--tages d-flex">
                        <div class="tag">
                            Dentist
                        </div>
                    </div>

                    <div class="rf--tabs ">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab"
                                    aria-controls="about" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="insuranceAccepted-tab" data-toggle="tab"
                                    href="#insuranceAccepted" role="tab" aria-controls="insuranceAccepted"
                                    aria-selected="false">Insurance
                                    Accepted</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="dentistsSpecialists-tab" data-toggle="tab"
                                    href="#dentistsSpecialists" role="tab" aria-controls="dentistsSpecialists"
                                    aria-selected="false">Dentists & Specialists</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="staff-tab" data-toggle="tab" href="#staff" role="tab"
                                    aria-controls="staff" aria-selected="false">Staff</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="certifications-tab" data-toggle="tab" href="#certifications"
                                    role="tab" aria-controls="certifications" aria-selected="false">Certifications</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="completedCases-tab" data-toggle="tab" href="#completedCases"
                                    role="tab" aria-controls="completedCases" aria-selected="false">Completed Cases</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab"
                                    aria-controls="reviews" aria-selected="false">Reviews</a>
                            </li>
                        </ul>
                        <div class="tab-content pl-0 pr-0">

                            <!-- About tab -->
                            <div class="tab-pane fade show active about--data" id="about" role="tabpanel"
                                aria-labelledby="about-tab">
                                <h2><strong>About Dentist</strong></h2>
                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere
                                    lectus
                                    sed dolor suscipit, ac porttitor leo semper. Vestibulum laoreet ultricies mauris sit
                                    amet suscipit. Nulla at odio lectus. Vestibulum ac metus sed nisl sollicitudin
                                    finibus
                                    vel euismod ante. Mauris dignissim sapien a dolor vestibulum finibus sit amet nec
                                    augue.
                                    Morbi ex ante, molestie ac lorem dictum, volutpat dictum libero. Morbi turpis metus,
                                    ultricies ut neque sed, tristique aliquam lacus. Etiam tempus semper neque, eget
                                    ornare
                                    enim tincidunt non. Suspendisse rhoncus, magna quis viverra pellentesque, leo orci
                                    bibendum leo, sed malesuada dui enim vitae dolor. Ut urna nisl, porta nec ligula
                                    vel,
                                    venenatis cursus lorem. Vestibulum congue massa quis mattis dictum.</p>
                            </div>

                            <!-- Insurance Accepted -->
                            <div class="tab-pane fade insurance--data overflow--wrapper" id="insuranceAccepted"
                                role="tabpanel" aria-labelledby="insuranceAccepted-tab">
                                <header class="tab--header">
                                    <h2><strong>Insurance Accepted</strong></h2>
                                    <p>Life of insurance we accept</p>
                                </header>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <ul class="m-0 border-0 p-0">
                                            <li>Access Dental</li>
                                            <li>AmeriPlan Discount</li>
                                            <li>Assurant/Dental Health Alliance Discount</li>
                                            <li>CompBenefits</li>
                                            <li>CompDent</li>
                                            <li>CompDent Advantage</li>
                                            <li>Connection Dental</li>
                                            <li>Coventry First Health</li>
                                            <li>DeCare</li>
                                            <li>Delta Dental Preferred</li>
                                            <li>Delta Dental Premier</li>
                                            <li>DeltaCare</li>
                                            <li>Dental Benefit Providers</li>
                                            <li>Dental Benefit Providers/United Healthcare</li>
                                            <li>Dental Health Alliance</li>
                                            <li>Dental Network of America</li>
                                            <li>Dental Wellness</li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <ul class="m-0 border-0 p-0">
                                            <li>Dentegra</li>
                                            <li>Dentemax</li>
                                            <li>Employers Dental Service</li>
                                            <li>Principal</li>
                                            <li>UniCare</li>
                                            <li>United Concordia National Fee For Service</li>
                                            <li>WellPoint</li>
                                            <li>DeCare Dental</li>
                                            <li>Dental Health Alliance (DHA)</li>
                                            <li>TDA (Total Dental Administrators)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Dentists Specialists -->
                            <div class="tab-pane fade specialists--data overflow--wrapper" id="dentistsSpecialists"
                                role="tabpanel" aria-labelledby="dentistsSpecialists-tab">
                                <header class="tab--header">
                                    <h2><strong>Dentists & Specialists</strong></h2>
                                    <p>Dentists and Specialists at Good Dental</p>
                                </header>
                                <div class="dentist--specialists">
                                    <div class="ds--list d-flex w-100">
                                        <div class="td-1 d-flex align-items-center">
                                            <div class="dentist--pic">
                                                <img src="../../../../../assets/images/profile-1-image-circle.png"
                                                    class="img-fluid">
                                            </div>
                                            <div class="dentist--details">
                                                <h2 class="d-flex"><strong>Sebastian Bennett</strong>
                                                    <div class="reviewer--star m-0">
                                                        <ul class="p-0 m-0 border-0">
                                                            <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                            </li>
                                                            <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                            </li>
                                                            <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                            </li>
                                                            <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                            </li>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        </ul>
                                                    </div>
                                                </h2>
                                                <p class="m-0">Dentist</p>
                                            </div>
                                        </div>
                                        <div class="td-2 d-flex align-items-center">
                                            <i class="icon--chat--circle"></i>
                                            <button type="button" class="btn btn-md btn-outline-primary">Create a
                                                job</button>
                                            <i class="icon--more"></i>
                                        </div>
                                    </div>
                                    <div class="ds--list d-flex w-100">
                                        <div class="td-1 d-flex align-items-center">
                                            <div class="dentist--pic">
                                                <img src="../../../../../assets/images/profile-2-image-circle.png"
                                                    class="img-fluid">
                                            </div>
                                            <div class="dentist--details">
                                                <h2 class="d-flex"><strong>Regina Polastro</strong>
                                                    <div class="reviewer--star m-0">
                                                        <ul class="p-0 m-0 border-0">
                                                            <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                            </li>
                                                            <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                            </li>
                                                            <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                            </li>
                                                            <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                            </li>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        </ul>
                                                    </div>
                                                </h2>
                                                <p class="m-0">Dental Assistant</p>
                                            </div>
                                        </div>
                                        <div class="td-2 d-flex align-items-center">
                                            <i class="icon--chat--circle"></i>
                                            <button type="button" class="btn btn-md btn-outline-primary">Create a
                                                job</button>
                                            <i class="icon--more"></i>
                                        </div>
                                    </div>
                                    <div class="ds--list d-flex w-100">
                                        <div class="td-1 d-flex align-items-center">
                                            <div class="dentist--pic">
                                                <img src="../../../../../assets/images/profile-3-image-circle.png"
                                                    class="img-fluid">
                                            </div>
                                            <div class="dentist--details">
                                                <h2 class="d-flex"><strong>Christopher Walker</strong>
                                                    <div class="reviewer--star m-0">
                                                        <ul class="p-0 m-0 border-0">
                                                            <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                            </li>
                                                            <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                            </li>
                                                            <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                            </li>
                                                            <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                            </li>
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        </ul>
                                                    </div>
                                                </h2>
                                                <p class="m-0">Dental</p>
                                            </div>
                                        </div>
                                        <div class="td-2 d-flex align-items-center">
                                            <i class="icon--chat--circle"></i>
                                            <button type="button" class="btn btn-md btn-outline-primary">Create a
                                                job</button>
                                            <i class="icon--more"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Staff -->
                            <div class="tab-pane fade staff--data overflow--wrapper" id="staff" role="tabpanel"
                                aria-labelledby="staff-tab">
                                <header class="tab--header">
                                    <h2><strong>Staff</strong></h2>
                                    <p>Good Dental Office Staff</p>
                                </header>
                                <div class="pad--right--20 d-flex">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-lg-4 pr-0">
                                                <div class="staff--box d-flex align-items-center ">
                                                    <div class="staff--pic">
                                                        <img src="../../../../../assets/images/profile-1-image-circle.png"
                                                            class="img-fluid">
                                                    </div>
                                                    <div class="staff--name"> <strong>Graham Griffiths</strong> </div>
                                                    <i class="icon--more"></i>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-4 pr-0">
                                                <div class="staff--box d-flex align-items-center ">
                                                    <div class="staff--pic">
                                                        <img src="../../../../../assets/images/profile-2-image-circle.png"
                                                            class="img-fluid">
                                                    </div>
                                                    <div class="staff--name"> <strong>Izabella Tabakova</strong> </div>
                                                    <i class="icon--more"></i>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-4 pr-0">
                                                <div class="staff--box d-flex align-items-center ">
                                                    <div class="staff--pic">
                                                        <img src="../../../../../assets/images/profile-3-image-circle.png"
                                                            class="img-fluid">
                                                    </div>
                                                    <div class="staff--name"> <strong>Rustem Tolstobrov</strong> </div>
                                                    <i class="icon--more"></i>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-4 pr-0">
                                                <div class="staff--box d-flex align-items-center ">
                                                    <div class="staff--pic">
                                                        <img src="../../../../../assets/images/profile-1-image-circle.png"
                                                            class="img-fluid">
                                                    </div>
                                                    <div class="staff--name"> <strong>Oksana Alehina</strong> </div>
                                                    <i class="icon--more"></i>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-4 pr-0">
                                                <div class="staff--box d-flex align-items-center ">
                                                    <div class="staff--pic">
                                                        <img src="../../../../../assets/images/profile-2-image-circle.png"
                                                            class="img-fluid">
                                                    </div>
                                                    <div class="staff--name"> <strong>Ferland Sharvill</strong> </div>
                                                    <i class="icon--more"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Certifications -->
                            <div class="tab-pane fade staff--data certifications--data overflow--wrapper"
                                id="certifications" role="tabpanel" aria-labelledby="certifications-tab">
                                <header class="tab--header">
                                    <h2><strong>Certifications</strong></h2>
                                    <p>Good Dental Certifications</p>
                                </header>
                                <div class="pad--right--20 d-flex">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-sm-4 col-lg-3 pr-0">
                                                <div
                                                    class="staff--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../../../assets/images/certificate-1.png"
                                                        class="img-fluid">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-3 pr-0">
                                                <div
                                                    class="staff--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../../../assets/images/certificate-2.png"
                                                        class="img-fluid">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-3 pr-0">
                                                <div
                                                    class="staff--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../../../assets/images/certificate-3.png"
                                                        class="img-fluid">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-3 pr-0">
                                                <div
                                                    class="staff--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../../../assets/images/certificate-4.png"
                                                        class="img-fluid">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-3 pr-0">
                                                <div
                                                    class="staff--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../../../assets/images/certificate-5.png"
                                                        class="img-fluid">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-3 pr-0">
                                                <div
                                                    class="staff--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../../../assets/images/certificate-6.png"
                                                        class="img-fluid">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-3 pr-0">
                                                <div
                                                    class="staff--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../../../assets/images/certificate-7.png"
                                                        class="img-fluid">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 col-lg-3 pr-0">
                                                <div
                                                    class="staff--box d-flex align-items-center justify-content-center">
                                                    <img src="../../../../../assets/images/certificate-8.png"
                                                        class="img-fluid">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Completed Cases -->
                            <div class="tab-pane fade cases--data overflow--wrapper" id="completedCases" role="tabpanel"
                                aria-labelledby="completedCases-tab">
                                <header class="tab--header">
                                    <h2><strong>Cases</strong></h2>
                                    <p>Good Dental Cases</p>
                                </header>
                                <div class="pad--right--20 d-flex">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-lg-6 pr-0">
                                                <div class="cases--box">
                                                    <div class="row align-items-center">
                                                        <div class="col-12 col-sm-8 col-lg-8 case--details">
                                                            <h5><strong>Teeth Whitening</strong></h5>
                                                            <ul class="p-0 m-0 border-0">
                                                                <li>– 29-year old female</li>
                                                                <li>– Periodontal conditions</li>
                                                                <li>– Never had a prophylaxis</li>
                                                                <li>– Smoker</li>
                                                                <li>– Number of treatments - 3</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-12 col-sm-4 col-lg-4 case--pic text-center">
                                                            <img src="../../../../../assets/images/teeth-whitening.png"
                                                                alt="" class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6 pr-0">
                                                <div class="cases--box">
                                                    <div class="row align-items-center">
                                                        <div class="col-12 col-sm-8 col-lg-8 case--details">
                                                            <h5><strong>Veneers</strong></h5>
                                                            <ul class="p-0 m-0 border-0">
                                                                <li>– 34-year old female</li>
                                                                <li>– Irregular dental care</li>
                                                                <li>– Family history with medical concerns</li>
                                                                <li>– Multiple medications</li>
                                                                <li>– Number of treatments - 3</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-12 col-sm-4 col-lg-4 case--pic text-center">
                                                            <img src="../../../../../assets/images/veneers.png" alt=""
                                                                class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6 pr-0">
                                                <div class="cases--box">
                                                    <div class="row align-items-center">
                                                        <div class="col-12 col-lg-8 case--details">
                                                            <h5><strong>Veneers</strong></h5>
                                                            <ul class="p-0 m-0 border-0">
                                                                <li>– 32-year old female</li>
                                                                <li>– Irregular dental care</li>
                                                                <li>– Family history with medical concerns</li>
                                                                <li>– Multiple medications</li>
                                                                <li>– Number of treatments - 3</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-12 col-lg-4">
                                                            <img src="../../../../../assets/images/veneers.png" alt=""
                                                                class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Reviews -->
                            <div class="tab-pane fade reviews--data overflow--wrapper" id="reviews" role="tabpanel"
                                aria-labelledby="reviews-tab">
                                <header class="tab--header">
                                    <h2><strong>Reviews</strong></h2>
                                    <p>Good Dental Reviews</p>
                                </header>
                                <div class="pad--right--20 d-flex">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-lg-6 pr-0">
                                                <div class="review--box">
                                                    <div class="review--header d-flex align-items-center">
                                                        <div class="reviewer d-flex align-items-center">
                                                            <div
                                                                class="reviewer--pic d-flex align-items-center justify-content-center">
                                                                <img src="../../../../../assets/images/profile-1-image-circle.png"
                                                                    alt="" class="img-fluid">
                                                            </div>
                                                            <h2 class="m-0"><strong>Anna Falidova</strong></h2>
                                                        </div>
                                                        <div class="reviewer--star mb-0">
                                                            <ul class="p-0 m-0 border-0">
                                                                <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                                </li>
                                                                <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                                </li>
                                                                <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                                </li>
                                                                <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                                </li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="review--body">
                                                        <div class="review--data">
                                                            <p class="m-0">I'm glad I found this office. The best
                                                                specialists and excellent communication skills. The
                                                                patient was pleased with the quality of service.</p>
                                                        </div>
                                                        <div class="review--time">
                                                            02 / 13 / 2020 - 02:30 PM
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6 pr-0">
                                                <div class="review--box">
                                                    <div class="review--header d-flex align-items-center">
                                                        <div class="reviewer d-flex align-items-center">
                                                            <div
                                                                class="reviewer--pic d-flex align-items-center justify-content-center">
                                                                <img src="../../../../../assets/images/profile-2-image-circle.png"
                                                                    alt="" class="img-fluid">
                                                            </div>
                                                            <h2 class="m-0"><strong>Huo Shu</strong></h2>
                                                        </div>
                                                        <div class="reviewer--star mb-0">
                                                            <ul class="p-0 m-0 border-0">
                                                                <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                                </li>
                                                                <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                                </li>
                                                                <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                                </li>
                                                                <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                                </li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="review--body">
                                                        <div class="review--data">
                                                            <p class="m-0">I'm glad I found this office. The best
                                                                specialists and excellent communication skills. The
                                                                patient was pleased with the quality of service.</p>
                                                        </div>
                                                        <div class="review--time">
                                                            02 / 13 / 2020 - 02:30 PM
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6 pr-0">
                                                <div class="review--box">
                                                    <div class="review--header d-flex align-items-center">
                                                        <div class="reviewer d-flex align-items-center">
                                                            <div
                                                                class="reviewer--pic d-flex align-items-center justify-content-center">
                                                                <img src="../../../../../assets/images/profile-3-image-circle.png"
                                                                    alt="" class="img-fluid">
                                                            </div>
                                                            <h2 class="m-0"><strong>Dusya Sigachyova</strong></h2>
                                                        </div>
                                                        <div class="reviewer--star mb-0">
                                                            <ul class="p-0 m-0 border-0">
                                                                <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                                </li>
                                                                <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                                </li>
                                                                <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                                </li>
                                                                <li><i class="fa fa-star active" aria-hidden="true"></i>
                                                                </li>
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="review--body">
                                                        <div class="review--data">
                                                            <p class="m-0">I'm glad I found this office. The best
                                                                specialists and excellent communication skills. The
                                                                patient was pleased with the quality of service.</p>
                                                        </div>
                                                        <div class="review--time">
                                                            02 / 13 / 2020 - 02:30 PM
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="first--tab--extra--content">

                <!-- 25+ mutual colleagues -->
                <div class="card rf--card">
                    <div class="card-body mutual--colleagues--sec d-flex">
                        <div class="box pl-0">
                            <h3 class="m-0"><strong>120</strong></h3>
                            <p class="m-0"> Patients seen</p>
                        </div>
                        <div class="box">
                            <h3 class="m-0"><strong>94</strong></h3>
                            <p class="m-0">Referrals received</p>
                        </div>
                        <div class="box">
                            <h3 class="m-0"><strong>80</strong></h3>
                            <p class="m-0">Referrals returned</p>
                        </div>
                        <div class="box">
                            <h3 class="m-0"><strong>69</strong></h3>
                            <p class="m-0">Referrals sent</p>
                        </div>
                        <div class="box border-0 pr-0">
                            <div class="and--more d-flex align-items-center">
                                <ul class="m-0 p-0 d-flex  align-items-center">
                                    <li>
                                        <img src="../../../../../assets/images/profile-1-image-circle.png"
                                            alt="img-fluid">
                                    </li>
                                    <li>
                                        <img src="../../../../../assets/images/profile-2-image-circle.png"
                                            alt="img-fluid">
                                    </li>
                                    <li>
                                        <img src="../../../../../assets/images/profile-3-image-circle.png"
                                            alt="img-fluid">
                                    </li>
                                    <li>
                                        <img src="../../../../../assets/images/profile-1-image-circle.png"
                                            alt="img-fluid">
                                    </li>
                                    <li>
                                        <img src="../../../../../assets/images/profile-2-image-circle.png"
                                            alt="img-fluid">
                                    </li>
                                </ul>
                                <p> <strong> 25+ </strong> mutual colleagues</p>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- photos -->
                <div class="card rf--card photos--wrapper">
                    <div class="card-body">
                        <h1> <strong>Photos</strong> <span>30 photos</span></h1>
                        <div class="d-flex img--boxes">
                            <div class="img--box">
                                <img src="../../../../../assets/images/image-1-rounded.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box">
                                <img src="../../../../../assets/images/image-2-rounded.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box">
                                <img src="../../../../../assets/images/image-3-rounded.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box">
                                <img src="../../../../../assets/images/image-4-rounded.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box">
                                <img src="../../../../../assets/images/image-5-rounded.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box last--box">
                                <img src="../../../../../assets/images/image-1-rounded.png" alt="" class="img-fluid">
                                <button type="button" class="btn btn-outline-primary black--btn btn-md show--more"
                                    [routerLink]="['/dashboard/dentals-photos']">Show more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="col-12 col-lg-4">
            <app-office-tab-right></app-office-tab-right>
        </div>

    </div>

</div>