.overflow--wrapper{
    min-height: 520px;
}
.about--bg{
    background: #F8FAFB;
}
.card-body{
    .sub--header{
        padding: 20px;
        .dental--info{
            .office--pic{
                width: 81px;
                height: 81px;
                object-fit: contain;
                border-radius: 3px;
                margin-right: 19px;
            }
            .office--details{
                h1{
                    color: rgba(0, 0, 0, 0.85);
                    font-size: 18px;
                    margin: 0;
                }
                p{
                    font-size: 13px;
                    margin: 2px 0 0px 0 ;
                    color: #000;
                    font-family: "Avenir-medium";
                }
             
            }
            
        }
        .details--actions{
            justify-content: flex-end;
            .icon--chat{
                background-image: url('../../../../../assets/images/chat.png');
                height: 20px;
                width: 20px;
                display: block;
            }
            .btn{
                padding: 9px 10px !important;
                margin-right: 10px;
            } 
            .fa-ellipsis-h{
                font-size: 22px;
                color: #169feb;
                cursor: pointer;
                margin-left: 17px;
            }
        }
    }

    .selected--tages{
        padding: 20px 20px 10px 20px;
        border-top: 1px solid #ebedf8;
        border-bottom: 1px solid #ebedf8;
        background-color: #fbfbfb;
        .tag{
            border-radius: 15px;
            border: solid 1px #169feb;
            background-color: #fff;
            font-size: 12px;
            padding: 7px 20px;
            color: #169feb;
            margin: 0 10px 10px 0;
        }
    }

    .rf--tabs{
        h2{
            font-size: 18px;  
        }
        .tab--header{
            border-bottom: 1px solid #ebedf8;
            margin-bottom: 20px;
            padding-bottom: 17px;
            h2{
                margin: 0;
            }
            p{
                margin: 3px 0 0 0;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.85);
            }
        }
        .about--data{
            padding: 0 20px;
            h2{
                margin-bottom: 15px;
            }
            p{
                font-size: 13px;
                line-height: 1.69;
                letter-spacing: normal;
                color: rgba(0, 0, 0, 0.85);
            }
        }

        .insurance--data{
            padding: 0 20px;
            ul{
                list-style: none;
                color: rgba(0, 0, 0, 0.85);
                li{
                    font-size: 13px;
                    margin-bottom: 5px;
                    &::before{
                        content: "\2022"; 
                        color: #169feb; 
                        font-weight: bold; 
                        display: inline-block; 
                        width: 18px;
                        opacity: 0.3;
                    }
                }
            }
        }
        .specialists--data{
            .tab--header{
                margin: 0 20px 20px 20px;
                padding: 0;
                border: 0;
            }
            
            .dentist--specialists{
                border-top: 1px solid #ebedf8;
                .ds--list{
                    background-color: #fbfbfb;
                    padding: 15px 20px;
                    font-size: 12px;
                    border-bottom: 1px solid #ebedf8;
                    &:nth-child(even){
                        background-color: rgba(255, 255, 255, 0);;
                    }
                    .td-1{
                        padding-right: 10px;
                        .dentist--pic{
                            width: 40px;
                            height: 40px;
                            object-fit: contain;
                            border-radius: 50%;
                            overflow: hidden;
                            margin-right: 15px;
                            flex-shrink: 0;
                        }
                        .dentist--details{
                            h2{
                                font-size: 13px;
                                color: rgba(0, 0, 0, 0.85);
                                margin: 0 0 0 0;
                            }
                            p{
                                color: #169feb;
                                font-size: 11px;
                            }
                            .reviewer--star {
                                margin-left: 10px !important;
                            }
                        }
                    }
                    .td-2{
                        margin-left: auto;
                        flex-shrink: 0;
                        .icon--chat--circle{
                            background-image: url('../../../../../assets/images/chat-with-circle.png');
                            width: 34px;
                            height: 34px;
                            object-fit: contain;
                            display: inline-block;
                            cursor: pointer;
                        }
                        .icon--more{
                            background-image: url('../../../../../assets/images/more-icon.png');
                            width: 4px;
                            height: 18px;
                            object-fit: contain;
                            display: inline-block; 
                            cursor: pointer;
                        }
                        .btn-outline-primary{
                            padding: 6px 13px !important;
                            margin: 0 20px;
                        }
                    }
                }
            }
        }

        .staff--data{
            .tab--header{
                margin: 0 20px 20px 20px;
            }
            .pad--right--20{
                padding-right: 20px;
            }
            .staff--box{
                padding: 10px 15px;
                border-radius: 7px;
                border: solid 1px #ebedf8;
                background-color: #fff;
                flex-shrink: 0;
                margin-bottom: 12px;
                .staff--pic{
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-right: 15px;
                }
                .staff--name{
                    font-size: 13px;    
                    color: rgba(0, 0, 0, 0.85);
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-right: 10px;
                }
                .icon--more{
                    background-image: url('../../../../../assets/images/more-icon.png');
                    width: 4px;
                    height: 18px;
                    object-fit: contain;
                    display: inline-block; 
                    cursor: pointer;
                    flex-shrink: 0;
                }
            }


            &.certifications--data{
                .staff--box{
                    height: 156px;
                    margin-bottom: 15px;
                }
            }
        }

        .cases--data{
            .tab--header{
                margin: 0 20px 20px 20px;
            }
            .pad--right--20{
                padding-right: 20px;
            }
            .cases--box{
                padding: 20px 15px 15px 20px;
                border-radius: 7px;
                border: solid 1px #ebedf8;
                background-color: #fff;
                margin-bottom: 15px;
                h5{
                    font-size: 13px;
                }
                ul{
                    li{
                        font-size: 13px;
                    }
                }

                .case--details{
                    border-right: solid 1px #ebedf8;
                }
            }
        }

        .reviews--data{
            .tab--header{
                margin: 0 20px 20px 20px;
            }
            .pad--right--20{
                padding-right: 20px;
            } 
            .review--box{
                border-radius: 7px;
                border: solid 1px #ebedf8;
                background-color: #fff;
                margin-bottom: 15px;
                .review--header{
                    padding: 15px;
                    justify-content: space-between;
                    border-bottom: 1px solid #ebedf8;
                    .reviewer{
                        .reviewer--pic{
                            width: 34px;
                            height: 34px;
                            border-radius: 50%;
                            overflow: hidden;
                            margin-right: 15px;
                            flex-shrink: 0;
                        }
                        h2{
                            font-size: 13px;
                        }
                    }
                }

                .review--body{
                    padding: 15px;
                    .review--data{
                        height: 65px;
                        overflow: auto;
                        margin-bottom: 15px;
                        p{
                            font-size: 13px;
                            line-height: 1.69;
                            color: rgba(0, 0, 0, 0.85);                            
                        }
                    }
                    .review--time{
                        color: rgba(0, 0, 0, 0.5);
                        font-size: 11px;
                    }
                   
                }
            }
        }

      
    }  
  
}

.mutual--colleagues--sec{
    .box{
        border-right: solid 1px #e6eaee;
        padding-right: 30px;
        padding-left: 30px;
        h3{
            font-size: 22px;
        }
        p{
            font-size: 12px;
            color: rgba(0, 0, 0, 0.85);
        }

        .and--more{
            padding-left: 25px;
            ul{
                li{
                    width: 40px;
                    height: 40px;
                    border: solid 3px #ffffff;
                    background-color: #dadada;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-left: -23px;
                    &:nth-child(1){z-index: 5;}
                    &:nth-child(2){z-index: 4;}
                    &:nth-child(3){z-index: 3;}
                    &:nth-child(4){z-index: 2;} 
                    &:nth-child(5){z-index: 1;}
                }
            }
            p{
                font-size: 13px;
                color: rgba(0, 0, 0, 0.85);
                margin: 0 0 0 17px;
            }
        }
    }
}


.photos--wrapper{
    h1{
        font-size: 18px;  
        margin-bottom: 17px;
        span{
            font-size: 12px;
            color: rgba(0, 0, 0, 0.25);
            margin-left: 15px;
        }
    }
    .img--boxes{
        .img--box{
            width: 130px;
            height: 130px;
            object-fit: contain;
            border-radius: 8px;
            overflow: hidden;
            margin-right: 18px;
            position: relative;
            &:last-child{
                margin-right: 0;
            }
           
            &.last--box{
                img{
                    opacity: 0.1;
                }
               
                .show--more{
                    display: block;
                    opacity: 1;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    background-color: transparent !important;
                    padding: 6px 12px !important;
                }
            }
        }
    }
    
}



.reviewer--star{
    margin-bottom: 10px;
    ul{
        list-style-type: none;
        display: flex;
        li{
            line-height: 15px;
            .fa{
                &.active{
                    color: #f6ca51;
                }
                color: #d8d8d8;
                margin-left: 3px;
                font-size: 11px;
            }

        }
    }
}

.first--tab--extra--content{
    &.hide{
        display: none;
    }
}


@media only screen and (max-width: 599px) {}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .card-body .rf--tabs h2{
        font-size: 16px;
    }
    .card-body .rf--tabs .about--data h2{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .card-body .rf--tabs .tab--header {
        margin-bottom: 12px;
        padding-bottom: 12px;
    }
    .card-body .rf--tabs .tab--header p{
        font-size: 11px;
    }
    .card-body .rf--tabs .reviews--data .review--box .review--body .review--data{
        height: auto;
    }
    .mutual--colleagues--sec .box {
        padding-right: 10px;
        padding-left: 20px;
        text-align: center;
    }
    .mutual--colleagues--sec .box h3 {
        font-size: 18px;
    }
    .mutual--colleagues--sec .box p {
        font-size: 11px;
        line-height: 14px;
        margin-top: 5px !important;
    }
    .photos--wrapper .img--boxes .img--box{
        width: 93px;
        height: 93px;
        margin-right: 10px;
    }
    .photos--wrapper .img--boxes .img--box.last--box .show--more{
        padding: 4px 6px !important;
        font-size: 12px !important;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    .rf--tabs ul .nav-item .nav-link{
        padding: 7px 5px;
        font-size: 11px;
        margin: 0 2px;
    }
    .card-body .rf--tabs .staff--data.certifications--data .staff--box {
        height: 125px;
    }
    .card-body .rf--tabs .cases--data .cases--box ul li {
        font-size: 11px;
    }
    .mutual--colleagues--sec .box {
        padding-right: 15px;
        padding-left: 20px;
        text-align: center;
    }
    .mutual--colleagues--sec .box h3 {
        font-size: 18px;
    }
    .mutual--colleagues--sec .box p {
        font-size: 11px;
        line-height: 12px;
        margin-top: 5px !important;
    }
    .photos--wrapper .img--boxes .img--box {
        width: 100%;
        height: 85px;
        margin-right: 10px;
    }
    .photos--wrapper .img--boxes .img--box.last--box .show--more{
        padding: 4px 6px !important;
        font-size: 11px !important;
    }
    .overflow--wrapper {
        min-height: 369px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px){
    .rf--tabs ul .nav-item .nav-link{
        font-size: 12px;
        padding: 8px 18px;
        margin: 0 2px;    
    }
    .mutual--colleagues--sec .box{
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media only screen and (min-width: 1367px) and (max-width: 1440px){
    .rf--tabs ul .nav-item .nav-link{
        font-size: 12px;
        padding: 8px 20px;
    }
    .mutual--colleagues--sec .box{
        padding-right: 25px;
    }
}