.office--wrapper{
    .display--count{
        h3{
            font-size: 22px;
            color: rgba(0, 0, 0, 0.85);
            margin: 0 0 0 0;
        }
        p{
            color: rgba(0, 0, 0, 0.85);
        }
    }
    .count--divider{
        border-radius: 10px;
        border-left: solid 1px #ebedf8;
        margin: 0 85px;
    }

    .join--office--table{
        .table-responsive{
            .table {
                tr{
                    td{
                        border: none;
                        .decline--btn,
                        .icon--more{
                            margin-left: 15px;
                        }
                        &:first-child{
                            width: 80%;
                        }
                      
                    }
                }
            }
        }
    }
    .dp--list--table{
        .table-responsive{
            .table {
                tr{
                    td{
                        
                        &:first-child{
                            width: 87%;
                        }
                        .button--outside{
                            border-radius: 50% !important;
                            width: 34px;
                            height: 34px;
                            object-fit: contain;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #b0dff9;
                            margin-right: 15px;
                        }
                    }
                    &:last-child{
                        td{
                            border-bottom: none;
                        }
                    }
                    &.view--all{
                        td{
                            background-color: #fbfbfb;
                            padding: 3px 5px;
                            a{
                                color: rgba(0, 0, 0, 0.5);
                                font-size: 9px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
    .ds--pic{
        width: 40px;
        height: 40px;
        object-fit: contain;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 15px;
    }

    .offce--info--tabs{
        li{
            a{
                padding: 9px 15px;
                font-size: 13px;
                width: auto;
                height: auto;
            }
            
        }
        .office--body{
            height: 49vh;
            overflow: auto;
            padding: 15px 0;
            .same--name--office{
                border-radius: 4px;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.03);
                background-color: #fff;
                padding: 20px;
                position: absolute;
                width: 95%;
                left: 15px;
                top: 115px;
                z-index: 9999;
                display: none;
                .alert{
                    margin-bottom: 20px;
                }
               
             
                .divider{
                    border-bottom: 1px solid #ebedf8;
                }
                .footer{
                    margin-top: 22px;
                    align-items: center;
                    .btn-outline-primary{
                        margin-right: 10px;
                    }
                    p{
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.85);
                        line-height: 17px
                    }
                    
                }
                .arrow_box:after, .arrow_box:before {
                    bottom: 100%;
                    left: 30px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
                
                .arrow_box:after {
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: #fff;
                    border-width: 10px;
                    margin-left: -10px;
                }
                .arrow_box:before {
                    border-color: rgba(249, 249, 249, 0);
                    border-bottom-color: #f9f9f9;
                    border-width: 11px;
                    margin-left: -11px;
                }
            }

            
        }
        .office--footer{
            padding: 20px;
            border-top: 1px solid #ebedf8;
            .btn-md{
                padding: 9px 35px !important;
            }
        }

        .insuranceAccepted--data{
            .search--insu{
                padding-left: 40px !important;    
                border-radius: 6px;                
            }
            .icon--search{
                background-image: url(/assets/images/icon-search.png);
                width: 14px;
                height: 14px;
                background-repeat: no-repeat;
                position: absolute;
                left: 15px;
                top: 15px;
            }
        }

        .certifications--data{
            header{
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #ebedf8;
                .btn {
                    padding: 7px 28px !important;
                }
            }
            .certificates{
                padding-top: 15px;
                padding-bottom: 15px;
                height: calc(100vh - 355px);
                overflow: auto;
                .box{
                    width: 163px;
                    height: 163px;
                    border-radius: 7px;
                    border: solid 1px #ebedf8;
                    background-color: #ffffff;
                    margin: 0 20px 15px 0;
                    float: left;
                    .icon--dark--close{
                        background-image: url(/assets/images/close-with-cicle.png);
                        width: 20px;
                        height: 20px;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 7px;
                        right: 7px;
                    }
                }
            }
        }


        .complitedCases--data{
            .before--after--btn{
                padding: 3px 28px !important;
                height: 37px !important;
            }
            .before--after--img{
                height: 80px;
                width: 100%;
                border-radius: 7px;
                position: relative;
                border: 1px solid #ddd;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                background-size: cover;
                background-repeat: no-repeat;

                .icon--close{
                    background-image: url('../../../../assets/images/close-button.png');
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    position: absolute;
                    right: 8px;
                    top: 5px;
                    z-index: 999;
                    cursor: pointer;
                }
            }

            header{
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #ebedf8;
            }
            .added--complited--cases{
                padding-top: 15px;
                padding-bottom: 15px;
                padding-right: 20px;
                height: calc(100vh - 355px);
                overflow: auto;

                .cases--box{
                    padding: 20px 15px 15px 15px;
                    border-radius: 7px;
                    border: solid 1px #ebedf8;
                    background-color: #fff;
                    margin-bottom: 15px;
                    h5{
                        font-size: 13px;
                    }
                    ul{
                        li{
                            font-size: 13px;
                        }
                    }
    
                    .case--details{
                        border-right: solid 1px #ebedf8;
                    }
                }
                .cases--footer{
                    padding: 15px 20px 0 15px;
                    border-top: 1px solid #ddd;
                    margin-top: 25px;
                    a{
                        font-size: 13px;
                        text-decoration: underline;
                        color: rgba(0, 0, 0, 0.85);
                    }
                }
            }
            
        }

    }
    
}

@media only screen and (max-width: 599px) {}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .office--wrapper .count--divider {
        margin: 0 45px;
    }
    .office--wrapper .offce--info--tabs li a {
        font-size: 12px;
    }
    .office--wrapper .rf--card.card .card-header h2 {
        font-size: 15px;
    }
    .office--wrapper .offce--info--tabs .certifications--data .certificates .box {
        width: 142px;
        height: 142px;
    }
    
}


@media only screen and (min-width: 980px) and (max-width: 1279px){
    .office--wrapper .count--divider {
        margin: 0 35px;
    }
    .office--wrapper .offce--info--tabs li a {
        padding: 6px 5px;
        font-size: 12px;
    }
    .office--wrapper .rf--card.card .card-header h2 {
        font-size: 15px;
    }
    .office--wrapper .offce--info--tabs .certifications--data .certificates .box {
        width: 127px;
        height: 127px;
    }
    .office--wrapper .offce--info--tabs .complitedCases--data .before--after--btn {
        padding: 3px 8px !important;
        font-size: 12px !important;
    }
    .office--wrapper .offce--info--tabs .complitedCases--data .added--complited--cases,
    .office--wrapper .offce--info--tabs .certifications--data .certificates{
        height: 51vh;
    }
}


@media only screen and (min-width: 1280px) and (max-width: 1367px){
    .office--wrapper .count--divider {
        margin: 0 70px;
    }
    .office--wrapper .offce--info--tabs .office--body {
        height: 43vh;
    }
    .office--wrapper .offce--info--tabs .certifications--data .certificates,
    .office--wrapper .offce--info--tabs .complitedCases--data .added--complited--cases {
        height: calc(100vh - 424px);
    }
    .office--wrapper .offce--info--tabs .certifications--data .certificates .box {
        width: 143px;
        height: 143px;
    }
}
@media only screen and (min-width: 1368px) and (max-width: 1440px){
    .office--wrapper .count--divider {
        margin: 0 70px;
    }
    .office--wrapper .offce--info--tabs .office--body {
        height: 38vh;
    }
    .office--wrapper .offce--info--tabs .certifications--data .certificates,
    .office--wrapper .offce--info--tabs .complitedCases--data .added--complited--cases {
        height: calc(100vh - 544px);
    }
    .office--wrapper .offce--info--tabs .certifications--data .certificates .box {
        width: 153px;
        height: 153px;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}
