// Icomoon
@font-face {
    font-family: 'icomoon';
    src:  url('/assets/icomoon-fonts/icomoon.eot?y4me5r');
    src:  url('/assets/icomoon-fonts/icomoon.eot?y4me5r#iefix') format('embedded-opentype'),
      url('/assets/icomoon-fonts/icomoon.ttf?y4me5r') format('truetype'),
      url('/assets/icomoon-fonts/icomoon.woff?y4me5r') format('woff'),
      url('/assets/icomoon-fonts/icomoon.svg?y4me5r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #169feb;
  }
  

  .icon-arrow-bottom:before {
    content: "\e925";
  }
  .icon-arrow-downbig:before {
    content: "\e926";
  }
  .icon-facebook:before {
    content: "\e927";
  }
  .icon-google-plus:before {
    content: "\e928";
  }
  .icon-instagram:before {
    content: "\e929";
  }
  .icon-arrow-top:before {
    content: "\e92a";
  }
  .icon-twitter:before {
    content: "\e92b";
  }
  .icon-arrow-upbig:before {
    content: "\e92c";
  }
  .icon-add-plus:before {
    content: "\e900";
  }
  .icon-chat-blue:before {
    content: "\e901";
  }
  .icon-chat-icon:before {
    content: "\e902";
  }
  .icon-adertising:before {
    content: "\e906";
  }
  .icon-calender:before {
    content: "\e907";
  }
  .icon-dashboard:before {
    content: "\e908";
  }
  .icon-job:before {
    content: "\e909";
  }
  .icon-logout:before {
    content: "\e90a";
  }
  .icon-my-network:before {
    content: "\e90b";
  }
  .icon-notification:before {
    content: "\e90c";
  }
  .icon-office:before {
    content: "\e90d";
  }
  .icon-patients:before {
    content: "\e90e";
  }
  .icon-settings:before {
    content: "\e90f";
  }
  .icon-staff:before {
    content: "\e910";
  }
  .icon-task:before {
    content: "\e911";
  }
  .icon-arrow-back:before {
    content: "\e912";
  }
  .icon-camera-small:before {
    content: "\e914";
  }
  .icon-close:before {
    content: "\e915";
  }
  .icon-closed-combined:before {
    content: "\e916";
  }
  .icon-arrow-down-lg:before {
    content: "\e917";
  }
  .icon-peoples:before {
    content: "\e918";
  }
  .icon-arrow-next:before {
    content: "\e919";
  }
  .icon-password-hidden:before {
    content: "\e91b";
  }
  .icon-password-show:before {
    content: "\e91c";
  }
  .icon-person:before {
    content: "\e91d";
  }
  .icon-search:before {
    content: "\e91e";
  }
  .icon-three-dots:before {
    content: "\e91f";
  }
  .icon-arrow-up-lg:before {
    content: "\e920";
  }
  .icon-tick-mark:before {
    content: "\e921";
  }
  .icon-combined-tick:before {
    content: "\e922";
  }
  .icon-star-full:before {
    content: "\e923";
  }
  .icon-starhalf:before {
    content: "\e924";
  }
  
//   Icomoon End

