/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Avenir-normal';
    src: url('/assets/fonts/AvenirLTStd-Roman.eot');
    src: url('/assets/fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTStd-Roman.woff') format('woff'),
        url('/assets/fonts/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-light';
    src: url('/assets/fonts/AvenirLT-Light.eot');
    src: url('/assets/fonts/AvenirLT-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AvenirLT-Light.woff2') format('woff2'),
        url('/assets/fonts/AvenirLT-Light.woff') format('woff'),
        url('/assets/fonts/AvenirLT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-medium';
    src: url('/assets/fonts/AvenirLTStd-Medium.eot');
    src: url('/assets/fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('/assets/fonts/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-bold';
    src: url('/assets/fonts/AvenirLTStd-Heavy.eot');
    src: url('/assets/fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
        url('/assets/fonts/venirLTStd-Heavy.woff') format('woff'),
        url('/assets/fonts/AvenirLTStd-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-italic';
    src: url('/assets/fonts/AvenirLTStd-Oblique.eot');
    src: url('/assets/fonts/AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AvenirLTStd-Oblique.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTStd-Oblique.woff') format('woff'),
        url('/assets/fonts/AvenirLTStd-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}




body{
    font-family: Avenir-normal !important;
}
strong{
    font-family: 'Avenir-bold' !important;
}
p{
    color: #212b36;
}
a{cursor: pointer;}
ul{list-style-type: none;}

.btn{
    border-radius: 5px !important;    
    font-family: Avenir-normal;
    font-size: 15px !important;
    padding: 10px 20px !important;
    &.btn-lg{
        padding: 15px 50px !important;
    }
    
}
.btn-primary{
    border-color: #169feb !important;
    background-color: #169feb !important;
    box-shadow: 0 19px 22px -18px #169feb;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #169feb;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#169feb, 10%);
        transition: all .3s;
        z-index: -1;
        color: #fff;
    }
    &:hover {
        &:before {
            width: 100%;
        }
    }
    &.primary--two{
        font-size: 13px !important;
        padding: 9px 54px !important;
        border-radius: 4px !important;
        border-color: transparent !important;
        background-image: linear-gradient(to left, #31cdf7, #169feb);
        box-shadow: none;
        &::after{
            background-image: linear-gradient(to left, #31cdf7, #169feb) !important;
        }
    }
    &.btn-sm{
        font-size: 12px !important;
        padding: 5px 17px !important;
        border-radius: 4px !important;
        height: 34px !important;
    }
    &.btn-md{
        font-size: 13px !important;
        padding: 9px 41px !important;
        border-radius: 4px !important;
    }

    

   
}
.btn-outline-primary{
    border-color: #169feb !important;
    color: #169feb !important;
    position: relative;
    overflow: hidden;
    z-index: 1;   
    &.black--btn{
        border-color: #2c3341 !important;
        color: #2c3341 !important;
        background-color: #fff !important;
        &:after {            
            border-color: #2c3341 !important;
        }
        &:before {
            background-color: darken(#2c3341, 10%);
        }
    }
    &.btn-md{
        font-size: 13px !important;
        padding: 9px 41px !important;
        border-radius: 4px !important;
    }
    &.btn-sm{
        font-size: 12px !important;
        padding: 5px 30px !important;
        border-radius: 4px !important;
        height: 34px !important;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-color: #169feb !important;
        color: #fff !important;
        background-color: transparent !important;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#169feb, 10%);
        transition: all .3s;
        z-index: -1;
        color: #fff;
    }
    &:hover {
        color: #fff !important;
        background-color: transparent !important;
        &:before {
            width: 100%; 
        }
    }
   
}
.btn:focus, .btn.focus,
.form-control:focus{
    box-shadow: none !important;
}

.black--btn{
    background-color: #2c3341 !important;
    font-size: 13px !important;
    padding: 9px 54px !important;
    border-radius: 4px !important;
    border-color: transparent !important;
    color: #fff !important;  
}

// Checkbox

.checkbox{
    label{
        font-size: 13px;
        color: rgba(0, 0, 0, 0.85);
    }
}
.radio{
    label{
        font-size: 13px;
        color: rgba(0, 0, 0, 0.85);
    }
}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #e6eaee;
    border-radius: .25em;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    flex-shrink: 0;
}
.radio .cr {
    border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: 11px;
    line-height: 0;
    top: 50%;
    left: 20%;
    color: #169feb;    
}
.radio .cr .cr-icon {
    margin-left: 0.04em;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr {
    border-color: #169feb;
}
.radio label input[type="radio"]:checked + .cr {
    border-color: #169feb;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

// helper classes
.td--none{
    text-decoration: none !important;
}
.flex-shrink-0{ flex-shrink: 0;}
.relative{position: relative;}
.w-60{width: 60%;}
.fnt-15{font-size: 15px !important;}
.fnt-14{font-size: 14px !important;}
.fnt-13{font-size: 13px !important;}
.fnt-12{font-size: 12px !important;}
.fnt-11{font-size: 11px !important;}
.hide{display: none !important;}
.box-shadow-none{box-shadow: none !important;}
.photo--wrapper{object-fit: contain;overflow: hidden;border-radius: 50%; margin-right: 15px;}
textarea{resize: none !important;}

// form
form{
    .form-group{
        margin-bottom: 15px;
        position: relative;
    }
    label{
        font-size: 12px;
        color: #2c3341;
        margin-bottom: 8px;
        font-family: 'Avenir-medium';
    }
    .form-control{
        font-size: 12px;
        font-family: 'Avenir-bold';
        color: rgba(0, 0, 0, 0.85);
        height: 45px;
        border: solid 1px #e6eaee;
        background-color: #ffffff;
        border-radius: 3px;
        padding-right: 40px;
        &.invalid{
            border: solid 1px rgba(223, 31, 0, 0.5);
            background-color: rgba(255, 59, 48, 0.03);
        }
    }
    .input-group-prepend {
        .btn-outline-secondary{
            &.active,
            &:hover{
                background-color: transparent !important;
                border-color: #e6eaee !important;
                color: rgba(0, 0, 0, 0.85) !important;
            }
        }
        .dropdown-toggle{
            border: solid 1px #e6eaee;
            font-size: 12px !important;
            color: rgba(0, 0, 0, 0.85);
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-top-left-radius: 3px !important;
            border-bottom-left-radius: 3px !important;
            padding-left: 15px !important;
            padding-right: 35px !important;
            font-family: 'Avenir-bold';
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background: #fff;
            &.active,
            &:hover{
                background-color: transparent;
                border-color: #e6eaee;
                color: rgba(0, 0, 0, 0.85);
            }
            &::after{
               content: "";
               background-image: url('assets/images/drop-arrow.png');
               width: 12px;
               height: 8px;
               background-repeat: no-repeat;
               border:none;
               position: absolute;
               right: 10px;
               top: 19px;
            }
        }
        &.show{
            .dropdown-toggle{
                background-color: transparent;
                border-color: #e6eaee;
                color: rgba(0, 0, 0, 0.85);
                border-bottom-left-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                &::after{
                    top: 16px;
                    transform: rotate(180deg);
                }
            }
            & ~ .form-control{
                border-bottom-right-radius: 0 !important;
            }
        }
        & ~ .form-control{
            // border-left: none;
        }
        &.w-100{
            .dropdown-toggle{
                border-top-right-radius: 3px !important;
                border-bottom-right-radius: 3px !important;
            }
            &.show{
                .dropdown-toggle{
                    border-bottom-right-radius: 0 !important;
                }                
            }
        }
        & ~ .icon--form{
            right: 12px;
            top: 12px;
        }

        &.sm--dropdown{
            .dropdown-toggle{
                height: 26px;
                padding: 3px 0 0 8px !important;
                &::after{
                    top: 9px;
                    right: 4px;
                    transform: rotate(0deg);
                }
            }
            &.show{
                .dropdown-toggle{
                    &::after{
                        transform: rotate(180deg);
                        top: 7px;
                    }
                   
                }
            }
            
        }
    }
    .dropdown-menu{
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        min-width: unset;
        .dropdown-item{
            font-size: 12px !important;
            font-size: 12px;
        }
        &.show{
            margin: 1px 0;
            margin-top: -1px;
        }
    }
    
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        font-family: 'Avenir-light' !important;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        font-family: 'Avenir-light' !important;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        font-family: 'Avenir-light' !important;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        font-family: 'Avenir-light' !important;
      }
    .forgot--pass{
        font-size: 12px;
        color: #2c3341 !important;
        margin-top: 10px;
        text-decoration: underline !important;
        cursor: pointer;
    }
    .error{
        font-size: 12px;
        color: rgba(223, 31, 0, 0.7) !important;
        margin-top: 7px;
        font-family: 'Avenir-bold' !important;
    }
    .btn{
        height: 45px;
    }
    .icon-combined-tick{
        font-size: 19px;
        display: inline-block;
    }
    .icon-closed-combined{
        font-size: 19px;
        display: inline-block;
        color: rgba(223, 31, 0, 0.7);
    }
    .icon--form{
        position: absolute;
        right: 15px;
        top: 45px;
        cursor: pointer;
    }
    .icon-password-show{
        top: 48px;
        font-size: 11px;
        color: #8cd1f6;
    }
    .icon-password-hidden{
        color: #8cd1f6;
        display: inline-block;
        top: 45px;
        font-size: 16px;
    }
  
}

// modal
.rf--modal{
    &.modal{
        &.show{
            -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
            background-color: rgba(44, 51, 65, 0.9);
        }
        .modal-header{                
            .modal-title{
                font-size: 18px;
            }        
        }
        .modal-body{
            padding: 20px;
        }
        .modal-footer{
            justify-content: flex-start;
            padding: 20px;
            & > *{
                margin: 0;
            }
        }
    }
}



// alerts
.alert{
    padding: 13px 15px !important;
    font-size: 12px;
    font-family: "Avenir-medium";
    border-radius: 3px !important;
    &.alert-danger{        
        border: solid 1px rgba(223, 31, 0, 0.5);
        background-color: rgba(255, 59, 48, 0.03);
    }
}

// Pagination
.rf--pagination{
    li{
        a{
            font-size: 11px;
            color: #169feb;
            width: 27px;
            height: 27px;
            background-color: transparent;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 2px;
            &:hover,
            &.active{
                font-family: "Avenir-bold";
                background-color: #169feb;
                color: #fff;
            }
            &.more{
                &:hover{
                    background-color: transparent;
                    cursor: default;
                    color: #169feb;
                }
            }
            &.next--prev{
                border: 1px solid #169feb;
                
                &:hover{
                    background-color: transparent;
                }

                .icon{
                    font-size: 12px;
                }
            }
        }
    }
}

// Horizontal scroll table
.rf--hori--table{
    width: 100%;
    overflow-x: auto;
    .table-responsive{
        .table {
            tbody{
                tr{
                    &:last-child{
                        td{
                            border-bottom: 1px solid #ebedf8;
                        }                        
                    }
                    td{
                        border-top: 1px solid #ebedf8;
                        padding: 15px 10px;
                        vertical-align: middle;

                        &:first-child{
                            padding-left: 20px;
                        }
                        &:last-child{
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }

    .table--footer{
        padding: 17px 20px;
        border-top:1px solid #eef0f9;
    }
}



// Additional global things (start here)
.remove{
    font-size: 12px;
    color: #2c3341 !important;
    opacity: 0.5;
    text-decoration: underline !important;
    cursor: pointer;
}
.add--more{
    .icon-add-plus{
        margin-right: 5px;
        font-size: 14px;
    }
    a{
        font-size: 12px;
        color: #2c3341;
        cursor: pointer;
        text-decoration: underline !important;
    }
}
.reviewer--star{
    align-self: flex-start;
    margin-bottom: 10px;
    ul{
        list-style-type: none;
        display: flex;
        li{
            .icon{
                font-size: 10px;
                color: #d8d8d8;
                margin-left: 3px;
                &.active{
                    color: #ff9933;
                }                      
                
            }

        }
    }
}
.office--details{
    h1{
        font-size: 14px;
        color: rgba(0, 0, 0, 0.85);
        font-family: 'Avenir-bold';
        margin: 0;
    }
   
    address{
        margin-bottom: 20px;
        h4{
            font-size: 13px;
        }
        p{
            font-size: 11px;
            margin-bottom: 10px;
        }
    }                            
}
.icon-three-dots{
    font-size: 18px;
    display: inline-block; 
    cursor: pointer;
}
.dentals--imgs{
    .img--box{
        width: 60px;
        height: 60px;
        overflow: hidden;
        margin: 0 0 10px 10px;
    }
}

// attachment--box
.attachment--box{
    width: 100%;
    border: solid 1px #e6eaee;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 12px 15px;
    .icon-attachment{
        font-size: 18px;
        display: inline-block;
        margin-right: 14px;
    }
    a{
        text-decoration: underline !important;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.85);
        cursor: pointer;
    }
}



// Card layout
.rf--card{
    &.card{
        border-radius: 10px;
        border: 1px solid #ebedf8;
        margin-bottom: 30px;
        .card-header{
            height: 56px;
            background: #fff;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom: 1px solid #ebedf8;
            padding: 0 20px;
            h2{
                font-size: 18px;
                color: rgba(0, 0, 0, 0.85);
            }
            .back--to{
                font-size: 12px;
                color: #169feb;
                
                .icon--prev{
                    background-image: url('assets/images/drop-arrow.png');
                    width: 12px;
                    height: 8px;
                    background-repeat: no-repeat;
                    transform: rotate(90deg);
                    margin: 3px 10px 0 0;
                }                
            }
            h1{
                font-size: 18px;
                color: rgba(0, 0, 0, 0.85);
                margin: 0;
                padding-left: 20px;
                margin-left: 100px;
                border-left: 1px solid #e6eaee;
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }
        .card-body{
            .sub--header{
                padding: 20px;
                
            }
        }
    }
}


// Tabs
.rf--tabs{
    margin-top: 25px;
    ul{
        padding-left: 20px;
        border-bottom: 1px solid #f2f3fb;
        .nav-item{
            &:first-child{
                .nav-link{
                    margin-left: 0;
                }                
            } 
            .nav-link{
                border-radius: 5px;
                border: solid 1px #f2f3fb;
                background-color: #fbfbfb;
                margin: 0 3px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.5);
                padding: 10px 21px;
                font-family: 'Avenir-medium';
                &.active{
                    background-image: linear-gradient(to left, #31cdf7, #169feb);
                    color: #fff;
                    border-color: transparent;
                }   
                
            }           
        }
       
    }
    .tab-content{
        padding: 20px;
    }
}

.rounded--tabs{
    border: 1px solid #169feb !important;
    border-radius: 25px;
    .nav-item{
        .nav-link {
            border-right: 1px solid #169feb;
            border-radius: 0;
            color: #169feb;
            font-size: 11px;
            padding: 0;
            width: 80px;
            height: 29px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover,
            &.active{
                border-color: transparent;
                background-color: #169feb;
                color: #fff;
            }
        }
        &:first-child{
            .nav-link{
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                border-left: 0;
            }
        }
        &:last-child{
            .nav-link{
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                border-right: 0;
            }
        }
    }
    &.normal--tabs{
        border-radius: 5px;
        li{
            &:first-child{
                .nav-link{
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px; 
                }
            }
            &:last-child{
                .nav-link{
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px; 
                }
            }
        }
    }
}

// Progress bar
.progress--count{
    .progress{
        width: 60%;
        border-radius: 7px;
        background-color: rgba(22, 159, 235, 0.05);
        .progress-bar{
            border-radius: 7px;
            background-image: linear-gradient(to left, #31cdf7, #169feb);
        }
    }
    .count{
        width: 40%;
        padding-left: 20px;
    }
    h3{
        font-size: 22px;
        color: rgba(0, 0, 0, 0.85);
        margin: 0;
    }
    p{
        font-size: 12px;
        color: rgba(0, 0, 0, 0.85);
        line-height: 1.69;
    }
}

// Switch toggle button 
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 20px;
    flex-shrink: 0;
    input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
            position: absolute;
            content: "";
            height: 17px;
            width: 17px;
            left: 2px;
            bottom: 1.5px;
            background-color: white;
            transition: 0.4s;
          }
            /* Rounded sliders */
            &.round {
                border-radius: 34px;
            }
            
            &.round {
                &:before{
                    border-radius: 50%;
                }
                
            }
      }
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
  } 


@media only screen and (max-width: 599px) {
    .btn.btn-lg {
        padding: 8px 27px !important;
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .btn.btn-lg {
        padding: 10px 35px !important;
    }
    .rf--tabs ul .nav-item .nav-link{
        padding: 7px 7px;
        font-size: 12px;
        margin: 0 1px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    .rf--card.card .card-header h1{
        padding-left: 10px;
        margin-left: 60px;
        font-size: 16px;
    }
    
}