/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Avenir-normal';
    src: url('/assets/fonts/AvenirLTStd-Roman.eot');
    src: url('/assets/fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTStd-Roman.woff') format('woff'),
        url('/assets/fonts/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-light';
    src: url('/assets/fonts/AvenirLT-Light.eot');
    src: url('/assets/fonts/AvenirLT-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AvenirLT-Light.woff2') format('woff2'),
        url('/assets/fonts/AvenirLT-Light.woff') format('woff'),
        url('/assets/fonts/AvenirLT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-medium';
    src: url('/assets/fonts/AvenirLTStd-Medium.eot');
    src: url('/assets/fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('/assets/fonts/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir-bold';
    src: url('/assets/fonts/AvenirLTStd-Heavy.eot');
    src: url('/assets/fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
        url('/assets/fonts/venirLTStd-Heavy.woff') format('woff'),
        url('/assets/fonts/AvenirLTStd-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-italic';
    src: url('/assets/fonts/AvenirLTStd-Oblique.eot');
    src: url('/assets/fonts/AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AvenirLTStd-Oblique.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTStd-Oblique.woff') format('woff'),
        url('/assets/fonts/AvenirLTStd-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
body{
    font-family: Avenir-normal !important;
}
strong{
    font-family: 'Avenir-bold' !important;
}
p{
    color: #212b36;
}
.btn{
    border-radius: 5px !important;    
    font-family: Avenir-normal;
    font-size: 15px !important;
    padding: 10px 20px !important;
    &.btn-lg{
        padding: 15px 50px !important;
    }
    
}
.btn-primary{
    border-color: #169feb !important;
    background-color: #169feb !important;
    box-shadow: 0 19px 22px -18px #169feb;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #169feb;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#169feb, 10%);
        transition: all .3s;
        z-index: -1;
        color: #fff;
    }
    &:hover {
        &:before {
            width: 100%;
        }
    }
    &.btn-md{
        font-size: 13px !important;
        padding: 9px 54px !important;
        border-radius: 4px !important;
        border-color: transparent !important;
        background-image: linear-gradient(to left, #31cdf7, #169feb);
        box-shadow: none;
        &::after{
            background-image: linear-gradient(to left, #31cdf7, #169feb) !important;
        }
    }
   
}
.btn-outline-primary{
    border-color: #169feb !important;
    color: #169feb !important;
    position: relative;
    overflow: hidden;
    z-index: 1;   
    &.black--btn{
        border-color: #2c3341 !important;
        color: #2c3341 !important;
        &:after {            
            border-color: #2c3341 !important;
        }
        &:before {
            background-color: darken(#2c3341, 10%);
        }
    }
    &.btn-md{
        font-size: 13px !important;
        padding: 9px 41px !important;
        border-radius: 4px !important;
    }
    &.btn-sm{
        font-size: 12px !important;
        padding: 5px 30px !important;
        border-radius: 4px !important;
        height: 30px !important;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-color: #169feb !important;
        color: #fff !important;
        background-color: transparent !important;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#169feb, 10%);
        transition: all .3s;
        z-index: -1;
        color: #fff;
    }
    &:hover {
        color: #fff !important;
        background-color: transparent !important;
        &:before {
            width: 100%; 
        }
    }
   
}
.btn:focus, .btn.focus,
.form-control:focus{
    box-shadow: none !important;
}

// Checkbox

.checkbox{
    label{
        font-size: 13px;
        color: rgba(0, 0, 0, 0.85);
    }
}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #e6eaee;
    border-radius: .25em;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    flex-shrink: 0;
}
.radio .cr {
    border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: 11px;
    line-height: 0;
    top: 50%;
    left: 20%;
    color: #169feb;    
}
.radio .cr .cr-icon {
    margin-left: 0.04em;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr {
    border-color: #169feb;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}


// form
form{
    .form-group{
        margin-bottom: 15px;
        position: relative;
    }
    label{
        font-size: 12px;
        color: #2c3341;
        margin-bottom: 8px;
        font-family: 'Avenir-medium';
    }
    .form-control{
        font-size: 12px;
        font-family: 'Avenir-bold';
        color: rgba(0, 0, 0, 0.85);
        height: 45px;
        border: solid 1px #e6eaee;
        background-color: #ffffff;
        border-radius: 3px;
        padding-right: 40px;
        &.invalid{
            border: solid 1px rgba(223, 31, 0, 0.5);
            background-color: rgba(255, 59, 48, 0.03);
        }
    }
    .input-group-prepend {
        .btn-outline-secondary{
            &.active,
            &:hover{
                background-color: transparent !important;
                border-color: #e6eaee !important;
                color: rgba(0, 0, 0, 0.85) !important;
            }
        }
        .dropdown-toggle{
            border: solid 1px #e6eaee;
            font-size: 12px !important;
            color: rgba(0, 0, 0, 0.85);
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-top-left-radius: 3px !important;
            border-bottom-left-radius: 3px !important;
            padding-left: 15px !important;
            padding-right: 35px !important;
            font-family: 'Avenir-bold';
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background: #fff;
            &.active,
            &:hover{
                background-color: transparent;
                border-color: #e6eaee;
                color: rgba(0, 0, 0, 0.85);
            }
            &::after{
               content: "";
               background-image: url('assets/images/drop-arrow.png');
               width: 12px;
               height: 8px;
               background-repeat: no-repeat;
               border:none;
               position: absolute;
               right: 10px;
               top: 19px;
            }
        }
        &.show{
            .dropdown-toggle{
                background-color: transparent;
                border-color: #e6eaee;
                color: rgba(0, 0, 0, 0.85);
                border-bottom-left-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                &::after{
                    top: 16px;
                    transform: rotate(180deg);
                }
            }
            & ~ .form-control{
                border-bottom-right-radius: 0 !important;
            }
        }
        & ~ .form-control{
            // border-left: none;
        }
        &.w-100{
            .dropdown-toggle{
                border-top-right-radius: 3px !important;
                border-bottom-right-radius: 3px !important;
            }
            &.show{
                .dropdown-toggle{
                    border-bottom-right-radius: 0 !important;
                }                
            }
        }
        & ~ .icon--form{
            right: 12px;
            top: 12px;
        }

        &.sm--dropdown{
            .dropdown-toggle{
                height: 26px;
                padding: 3px 0 0 8px !important;
                &::after{
                    top: 9px;
                    right: 4px;
                    transform: rotate(0deg);
                }
            }
            &.show{
                .dropdown-toggle{
                    &::after{
                        transform: rotate(180deg);
                        top: 7px;
                    }
                   
                }
            }
            
        }
    }
    .dropdown-menu{
        width: 100%;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        min-width: unset;
        .dropdown-item{
            font-size: 12px !important;
            font-size: 12px;
        }
        &.show{
            margin: 1px 0;
        }
    }
    
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        font-family: 'Avenir-light' !important;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        font-family: 'Avenir-light' !important;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        font-family: 'Avenir-light' !important;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        font-family: 'Avenir-light' !important;
      }
    .forgot--pass{
        font-size: 12px;
        color: #2c3341 !important;
        margin-top: 10px;
        text-decoration: underline !important;
        cursor: pointer;
    }
    .error{
        font-size: 12px;
        color: rgba(223, 31, 0, 0.7) !important;
        margin-top: 7px;
        font-family: 'Avenir-bold' !important;
    }
    .btn{
        height: 45px;
    }
    .icon-true{
        background-image: url('assets/images/circle-tick.png');
        background-repeat: no-repeat;
        width: 19px;
        height: 19px;
        display: inline-block;
    }
    .icon-false{
        background-image: url('assets/images/circle-cancel.png');
        background-repeat: no-repeat;
        width: 19px;
        height: 19px;
        display: inline-block;
    }
    .icon--form{
        position: absolute;
        right: 15px;
        top: 45px;
        cursor: pointer;
    }
  
}

// Additional global things (start here)
.remove{
    font-size: 12px;
    color: #2c3341 !important;
    opacity: 0.5;
    text-decoration: underline !important;
    cursor: pointer;
}
.add--more{
    .icon--add{
        width: 14px;
        height: 14px;
        margin-right: 5px;
        background-color: #169feb;
        border-radius: 50%;
        color: #fff;
        font-style: normal;
        font-size: 14px;
    }
    a{
        font-size: 12px;
        color: #2c3341;
        cursor: pointer;
        text-decoration: underline !important;
    }
}


@media only screen and (max-width: 599px) {
    .btn.btn-lg {
        padding: 8px 27px !important;
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .btn.btn-lg {
        padding: 10px 35px !important;
    }
}