.left--side--section{
    width: 210px;
    position: absolute;
    left: 0;
    top: 84px;
    height: 88.8vh;
    overflow: auto;
    box-shadow: 1px 0 0 0 #e6eaee;
    background-color: #fff;
    z-index: 999;
}
.middle--side--section{
    background-color: #efefef;
    position: relative;
    padding: 0 0 0 210px;
    width: 100%;
    height: 88.9vh;
    overflow: auto;
    border-bottom: 1px solid #e6eaee;
    margin-top: 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-image {
    width: 150px;
    height: 150px;
    margin: 20px 0;
    background-color: #d1edfb;
    border-radius: 50%;
    overflow: hidden;
}

.personal-info-container {
    vertical-align: middle;
}

.edit-icon {
    align-self: center;
    cursor: pointer;
}

.office-images-container {
    max-width: 110px;
    display: inline;
}

.office-images {
    width: 110px;
    height: 110px;
    margin: 20px 0;
    background-color: #d1edfb;
    border-radius: 50%;
    overflow: hidden;
}
  