<div class="container-fluid pt-3 patient--list--wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card rf--card">
                <div class="card-header d-flex align-items-center justify-content-between">
                   <div class="filter--sec d-flex align-items-center justify-content-between flex-shrink-0">
                        <h2 class="m-0"><strong>Patients</strong></h2>
                        <button type="button" class="btn btn-sm btn-primary d-flex align-items-center filter--btn ">
                            <i class="icon-filter-icon mr-2"></i>
                            Filters
                        </button>
                   </div>
                   <div class="search--sec d-flex align-items-center justify-content-between flex-shrink-0">
                        <div class="form-group search--box mb-0 ">
                            <input type="text" class="form-control" placeholder="Search patients">
                            <i class="icon icon-search"></i>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="fnt-13 m-0"><a><strong>8 patients</strong></a> in your list</p>
                            <button type="button" class="btn btn-sm btn-primary d-flex align-items-center ml-3">
                                <i class="icon icon-add-plus mr-2"></i>
                                Add new 
                            </button>
                        </div>
                   </div>
                </div>
                <div class="card-body p-0">
                    <div class="rf--hori--table patient--list--table">
                        <div class="table-responsive no--height">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Loni Bowcher</strong>
                                        </td>
                                        <td>Male</td>
                                        <td>Birthday: 01/01/1993</td>
                                        <td>27 yo</td>
                                        <td>310-123-4567</td>
                                        <td>5th Ave 245, New York</td>
                                        <td class="d-flex align-items-center"> 
                                            <button class="btn p-0 rounded--btn">
                                                <i class="icon icon-chat-blue"></i>
                                            </button>
                                            <button class="btn p-0 rounded--btn ml-2">
                                                <i class="icon icon-arrow-next fnt-11"></i>
                                            </button>
                                            <i class="icon icon-three-dots"></i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>