<div class="container-fluid staff--task--wrapper">

    <div class="row ">

        <div class="col-12">
            <div class="card rf--card">
                <div class="card-header d-flex align-items-center ">
                    <div class="left-head d-flex align-items-center">
                        <a class="back--to d-flex align-items-center">
                            <i class="icon--prev"></i>
                            Back to Staff
                        </a>
                        <h1> <strong>Ferland's Task </strong></h1>
                    </div>
                    <div class="right-head d-flex align-items-center flex-shrink-0">
                        <ul class="nav nav-tabs rounded--tabs" id="tasksTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="inProgress-tab" data-toggle="tab" href="#inProgress"
                                    role="tab" aria-controls="inProgress" aria-selected="true">In-Progress</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab"
                                    aria-controls="all" aria-selected="false">All</a>
                            </li>
                        </ul>
                        <button class="btn p-0 rounded--btn ml-3 active"><i class="icon icon-task"></i></button>
                        <button class="btn p-0 rounded--btn ml-2"><i class="icon icon-chat-blue"></i></button>
                        <button class="btn p-0 rounded--btn ml-2"><i class="icon icon-settings"></i></button>
                        <i class="icon icon-three-dots ml-3"></i>
                    </div>
                </div>



                <div class="card-body p-0">
                    <div class="rf--hori--table staff--tasks--table">
                        <div class="table-responsive">


                            <div class="tab-content" id="tasksTabs">
                                <div class="tab-pane fade show active" id="inProgress" role="tabpanel"
                                    aria-labelledby="inProgress-tab">
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Aryn Jacobssen</strong></h5>
                                                    <p class="fnt-11 d-flex">Female, 32 yo</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Procedure</strong></h5>
                                                    <p class="fnt-11 d-flex">Crowns</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Status</strong></h5>
                                                    <p class="fnt-11 d-flex">In-Progress</p>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-end ">
                                                        <button class="btn p-0 rounded--btn ml-2"> <i
                                                                class="icon icon-attachment"></i></button>
                                                        <button class="btn p-0 rounded--btn fill ml-2"> <i
                                                                class="icon icon-arrow-next"></i></button>
                                                        <i class="icon icon-three-dots ml-3"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Teng Hu</strong></h5>
                                                    <p class="fnt-11 d-flex">Female, 26 yo</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Procedure</strong></h5>
                                                    <p class="fnt-11 d-flex">Root Canals</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Status</strong></h5>
                                                    <p class="fnt-11 d-flex">In-Progress</p>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-end ">
                                                        <button class="btn p-0 rounded--btn ml-2"> <i
                                                                class="icon icon-attachment"></i></button>
                                                        <button class="btn p-0 rounded--btn fill ml-2"> <i
                                                                class="icon icon-arrow-next"></i></button>
                                                        <i class="icon icon-three-dots ml-3"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Tania Perfilyeva</strong></h5>
                                                    <p class="fnt-11 d-flex">Female, 32 yo</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Procedure</strong></h5>
                                                    <p class="fnt-11 d-flex">Crowns</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Status</strong></h5>
                                                    <p class="fnt-11 d-flex">In-Progress</p>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-end ">
                                                        <button class="btn p-0 rounded--btn ml-2"> <i
                                                                class="icon icon-attachment"></i></button>
                                                        <button class="btn p-0 rounded--btn fill ml-2"> <i
                                                                class="icon icon-arrow-next"></i></button>
                                                        <i class="icon icon-three-dots ml-3"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Heather Clark</strong></h5>
                                                    <p class="fnt-11 d-flex">Female, 32 yo</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Procedure</strong></h5>
                                                    <p class="fnt-11 d-flex">Root Canals</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Status</strong></h5>
                                                    <p class="fnt-11 d-flex">In-Progress</p>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-end ">
                                                        <button class="btn p-0 rounded--btn ml-2"> <i
                                                                class="icon icon-attachment"></i></button>
                                                        <button class="btn p-0 rounded--btn fill ml-2"> <i
                                                                class="icon icon-arrow-next"></i></button>
                                                        <i class="icon icon-three-dots ml-3"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Thoma Fulloway</strong></h5>
                                                    <p class="fnt-11 d-flex">Female, 32 yo</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Procedure</strong></h5>
                                                    <p class="fnt-11 d-flex">Crowns</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Status</strong></h5>
                                                    <p class="fnt-11 d-flex">In-Progress</p>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-end ">
                                                        <button class="btn p-0 rounded--btn ml-2"> <i
                                                                class="icon icon-attachment"></i></button>
                                                        <button class="btn p-0 rounded--btn fill ml-2"> <i
                                                                class="icon icon-arrow-next"></i></button>
                                                        <i class="icon icon-three-dots ml-3"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Abbie Wilson</strong></h5>
                                                    <p class="fnt-11 d-flex">Female, 26 yo</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Procedure</strong></h5>
                                                    <p class="fnt-11 d-flex">Crowns</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Status</strong></h5>
                                                    <p class="fnt-11 d-flex">In-Progress</p>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-end ">
                                                        <button class="btn p-0 rounded--btn ml-2"> <i
                                                                class="icon icon-attachment"></i></button>
                                                        <button class="btn p-0 rounded--btn fill ml-2"> <i
                                                                class="icon icon-arrow-next"></i></button>
                                                        <i class="icon icon-three-dots ml-3"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Izabella Tabakova</strong></h5>
                                                    <p class="fnt-11 d-flex">Female, 32 yo</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Procedure</strong></h5>
                                                    <p class="fnt-11 d-flex">Crowns</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Status</strong></h5>
                                                    <p class="fnt-11 d-flex">In-Progress</p>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-end ">
                                                        <button class="btn p-0 rounded--btn ml-2"> <i
                                                                class="icon icon-attachment"></i></button>
                                                        <button class="btn p-0 rounded--btn fill ml-2"> <i
                                                                class="icon icon-arrow-next"></i></button>
                                                        <i class="icon icon-three-dots ml-3"></i>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Aryn Jacobssen</strong></h5>
                                                    <p class="fnt-11 d-flex">Female, 32 yo</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Procedure</strong></h5>
                                                    <p class="fnt-11 d-flex">Crowns</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Status</strong></h5>
                                                    <p class="fnt-11 d-flex">In-Progress</p>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-end ">
                                                        <button class="btn p-0 rounded--btn ml-2"> <i
                                                                class="icon icon-attachment"></i></button>
                                                        <button class="btn p-0 rounded--btn fill ml-2"> <i
                                                                class="icon icon-arrow-next"></i></button>
                                                        <i class="icon icon-three-dots ml-3"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Teng Hu</strong></h5>
                                                    <p class="fnt-11 d-flex">Female, 26 yo</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Procedure</strong></h5>
                                                    <p class="fnt-11 d-flex">Root Canals</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Status</strong></h5>
                                                    <p class="fnt-11 d-flex">In-Progress</p>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-end ">
                                                        <button class="btn p-0 rounded--btn ml-2"> <i
                                                                class="icon icon-attachment"></i></button>
                                                        <button class="btn p-0 rounded--btn fill ml-2"> <i
                                                                class="icon icon-arrow-next"></i></button>
                                                        <i class="icon icon-three-dots ml-3"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Tania Perfilyeva</strong></h5>
                                                    <p class="fnt-11 d-flex">Female, 32 yo</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Procedure</strong></h5>
                                                    <p class="fnt-11 d-flex">Crowns</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Status</strong></h5>
                                                    <p class="fnt-11 d-flex">In-Progress</p>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-end ">
                                                        <button class="btn p-0 rounded--btn ml-2"> <i
                                                                class="icon icon-attachment"></i></button>
                                                        <button class="btn p-0 rounded--btn fill ml-2"> <i
                                                                class="icon icon-arrow-next"></i></button>
                                                        <i class="icon icon-three-dots ml-3"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Heather Clark</strong></h5>
                                                    <p class="fnt-11 d-flex">Female, 32 yo</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Procedure</strong></h5>
                                                    <p class="fnt-11 d-flex">Root Canals</p>
                                                </td>
                                                <td>
                                                    <h5 class="fnt-13 d-flex"><strong>Status</strong></h5>
                                                    <p class="fnt-11 d-flex">In-Progress</p>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-end ">
                                                        <button class="btn p-0 rounded--btn ml-2"> <i
                                                                class="icon icon-attachment"></i></button>
                                                        <button class="btn p-0 rounded--btn fill ml-2"> <i
                                                                class="icon icon-arrow-next"></i></button>
                                                        <i class="icon icon-three-dots ml-3"></i>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>