<section class="login--wrapper d-flex justify-content-center">
    <div class="login--box d-flex">
        <div class="left--sec">
            <div class="row">
                <div class="col-12">
                    <header>
                        <h1>Admin Login</h1>
                        <p>Reset Password</p>
                    </header>
                </div>
                <div *ngIf="loading" class="ml-3">
                    <label class="text-muted">Fetching Data ...</label> 
                </div>
                <div *ngIf="error && !loading" class="ml-3 mr-3 w-100 alert alert-danger" role="alert">
                    {{error}}
                </div>
                <div *ngIf="isPasswordSet" class="ml-3 mr-3 w-100 alert alert-success" role="alert">
                    Password updated successfully. Please login to continue.
                </div>
                <div *ngIf="!error && !loading && !isPasswordSet" class="col-12">
                    <form (ngSubmit)="resetPassword()">
                        <div class="form-group mb-4">
                            <label>New Password *</label>
                            <input type="password" name="password" class="form-control " placeholder="Password"
                                [(ngModel)]="user.password">
                            <label class="mt-3">Confirm Password *</label>
                            <input type="password" name="confirmPassword" class="form-control " placeholder="Confirm Password"
                                [(ngModel)]="user.confirmPassword">
                        </div>
                        <div>
                            <label class="text-danger" *ngIf="error">{{error}}</label>
                        </div>
                        <div class="form-group mb-4">
                            <button type="submit" class="btn btn-primary primary--two w-100">Save Password</button>
                        </div>
                    </form>
                </div>
                <small class="ml-3 form-text"><a routerLink="/admin/login" class="forgot--pass">Login instead?</a> </small>
            </div>
        </div>
    </div>
</section>