<section class="login--wrapper d-flex justify-content-center">
    <div class="login--box d-flex">
        <div class="left--sec">
            <div class="row">
                <div class="col-12">
                    <header>
                        <h1>Admin Login</h1>
                        <p>Reset Password</p>
                    </header>
                </div>
                <div *ngIf="loading" class="ml-3">
                    <label class="text-muted">Fetching Data ...</label> 
                </div>
                <div *ngIf="error && !loading" class="ml-3 mr-3 w-100 alert alert-danger" role="alert">
                    {{error}}
                </div>
                <div *ngIf="isPasswordSet" class="ml-3 mr-3 w-100 alert alert-success" role="alert">
                    Password updated successfully. Please login to continue.
                </div>
                <div *ngIf="!error && !loading && !isPasswordSet" class="col-12">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                        <div class="form-group mb-4">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" formControlName="password" [(ngModel)]="user.password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" />
                                <div *ngIf="submitted && formControls.password.errors">
                                    <label *ngIf="formControls.password.errors.required" class="text-danger">Password cannot be blank</label>
                                    <label *ngIf="formControls.password.errors.minlength" class="text-danger">Password must have at least 6 characters</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" formControlName="confirmPassword" [(ngModel)]="user.confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.confirmPassword.errors }" />
                                <div *ngIf="submitted && formControls.confirmPassword.errors">
                                    <label *ngIf="formControls.confirmPassword.errors.required" class="text-danger">Password cannot be blank</label>
                                    <label *ngIf="formControls.confirmPassword.errors.mustMatch" class="text-danger">Password not matching</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="text-danger" *ngIf="error">{{error}}</label>
                        </div>
                        <div class="form-group mb-4">
                            <button type="submit" class="btn btn-primary primary--two w-100">Save Password</button>
                        </div>
                    </form>
                </div>
                <small class="ml-3 form-text"><a routerLink="/admin/login" class="forgot--pass">Login instead?</a> </small>
            </div>
        </div>
    </div>
</section>