<header class="p-0 rf--header">
  <div class="container p-0">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <img src="../assets/images/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto ml-auto search--include">
          <li class="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search...">
              <i class="icon--search"></i>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">How it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacts</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item ml-0">
            <a [routerLink]="['/auth/signin']" class="nav-link" routerLink="/auth/signin">Login</a>
          </li>
          <li class="nav-item m-0">
            <button type="button" class="btn btn-primary sign--up--btn">Sign up</button>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>
