<section class="invite--patient--wrapper d-flex justify-content-center">
    <div class="ip--box d-flex">
        <div class="ip--left">
            <header class="mb-0">
                <h1>You're invited to your patient profile.</h1>
            </header>
            <section class="ip--data">
                <p class="m-0">
                    <strong>Good dental invites </strong> you to join patient profile. <br>
                    Please review your patient profile and confirm it
                    to use ReferHub.
                </p>
                <button type="button" class="btn btn-primary primary--two btn-md w-100 accept--invite--btn">Accept
                    Invite</button>
                <button type="button" class="btn btn-outline-primary btn-md w-100 reject--invite--btn">Reject
                    Invite</button>
            </section>
        </div>
        <div class="ip--right ">
            <div class="row">
                <div class="col-12">
                    <h2 class="m-0">You are Invited by Good Dental.</h2>
                    <p class="m-0">Join your patient profile right now.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="invite--box d-flex justify-content-between align-items-center ">
                        <div class="info flex-shrink-0">
                            <h1 class="fnt-14 mb-1"><strong>Good Dental</strong></h1>
                            <div class="reviewer--star">
                                <ul class="p-0 m-0">
                                    <li><i class="icon icon-star-full active ml-0" aria-hidden="true"></i></li>
                                    <li><i class="icon icon-star-full active" aria-hidden="true"></i></li>
                                    <li><i class="icon icon-star-full active" aria-hidden="true"></i></li>
                                    <li><i class="icon icon-star-full active" aria-hidden="true"></i></li>
                                    <li><i class="icon icon-starhalf active" aria-hidden="true"></i></li>
                                    
                                </ul>
                            </div>
                            <address class="mb-0">
                                <h4 class="mb-1 fnt-14"><strong>New York</strong></h4>
                                <p class="mb-0">509 Madison Ave #1704</p>
                                <p class="mb-0 mt-1 fnt-14"><strong>310-123-4567</strong></p>
                            </address>
                        </div>

                        <div class="images d-flex align-items-center flex-wrap justify-content-end ">
                            <div class="img--box">
                                <img src="/assets/images/01.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box">
                                <img src="/assets/images/02.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box">
                                <img src="/assets/images/03.png" alt="" class="img-fluid">
                            </div>
                            <div class="img--box">
                                <img src="/assets/images/04.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p> <a>Contact us</a> if you think you received this invitation by mistake</p>
                </div>
            </div>
        </div>
    </div>
</section>